<h1>Merge</h1>

<form action="/types/<%= @type.id %>/merge">
    <%= hidden_field_tag(:into_id, [], :class => "mergeselect2") %>
    <%= submit_tag "Merge" %>
</form>


<h2>Edit</h2>

<%= render 'form' %>

<% content_for :form_scripts do %>
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
  jQuery('.mergeselect2').select2({
    width:'20.5em',
    data: type_list // see _form
  });
});
</script>
<% end %>

