# config/initializers/credentials.rb

# [http] Google Directions, Geocoding, Maps Elevation, Maps Javascript API
GOOGLE_MAPS_KEY = ''

# [http] Google Geocoding API
Geocoder.configure(
  :lookup => :google,
  :use_https => true,
  :api_key => GOOGLE_MAPS_KEY
)

# [http] Google reCAPTCHA API
Recaptcha.configure do |config|
  config.api_version = 'v2'
  config.public_key  = ''
  config.private_key = ''
end

# [server] Google Geocoding API
GOOGLE_GEOCODING_KEY = ''
