<div class="rightphoto">  <!-- keep all <img> on same line with no spaces -->
 <img src="/jeff-apples.jpg"><img src="/jeff-tree.jpg"><img src="/plums.jpg"><img src="/amittai-mulberries.jpg">
</div>

<%
  cache 'pages_about_stats' do
  @types = LocationsType.joins("LEFT OUTER JOIN types ON types.id=locations_types.type_id").
                         select("COALESCE(types.name,locations_types.type_other) as cname,
                                types.id, scientific_name, scientific_synonyms, usda_symbol, wikipedia_url, name, synonyms, count(*)").
                         group("cname,types.id, scientific_name, scientific_synonyms, usda_symbol, wikipedia_url, name, synonyms").order("cname")
  @lt_count = LocationsType.count
%>

<p style="font-style:italic;font-size:115%; border-left: 2px solid lightgrey; padding-left: 0.5em;">
This website is still a prototype. We have a lot of exciting features planned, 
but we also want to evolve to best meet the needs and desires of the community. 
Write us at <a href="mailto:feedback@fallingfruit.org">feedback@fallingfruit.org</a>. 
We would love to hear from you!
</p>

<h2>About the Site</h2>

<p>
Falling Fruit is a celebration of the overlooked culinary bounty of our city streets. 
By quantifying this resource on a map, we hope to facilitate intimate connections 
between people, food, and the natural organisms growing in our neighborhoods. 
Not just a free lunch! Foraging in the 21st century is an opportunity for 
urban exploration, to fight the scourge of stained sidewalks, and to reconnect 
with the botanical origins of food.
</p>

<p>
Our map of urban edibles is not the first of its kind, but we aspire to be the 
most comprehensive, bringing together the <a href="/maps">maps of foragers</a> 
from all across the internet. We are also including edible species found 
in <a href="/inventories">municipal tree inventories</a> - databases of street 
(and sometimes private) trees used by many cities, universities, and other 
institutions to manage the urban forest. This already amounts to 
<%= number_with_delimiter(@types.length) %> different types 
of edibles (most, but not all, are plant species) distributed across 
<%= number_with_delimiter(@lt_count) %> locations. Beyond the cultivated 
and commonplace to the exotic flavors of foreign plants and the long-forgotten 
culinary uses of native plants, foraging in your neighborhood is a journey 
through time and across cultures.
</p>

<p>
Join us in celebrating the local and edible! The <a href="/">map</a> is open 
for anyone to edit, the entire database can be <a href="/data">downloaded</a> 
with just one click, and <a href="https://github.com/somerandomsequence/falling-fruit">our code</a> 
is open-source. We created Falling Fruit driven by our passion for food 
and the environment. If you think it's cool and want to say thanks, you 
can always "buy us a beer" (i.e., help us pay for the server):
</p>

<% end %>

<blockquote>
<form action="https://www.paypal.com/cgi-bin/webscr" method="POST">
	<input type="hidden" name="cmd" value="_donations">
	<input type="hidden" name="business" value="cphillips@smallwhitecube.com">
	<input type="hidden" name="return" value="http://fallingfruit.org/about">
	<input type="hidden" name="item_name" value="Falling Fruit Donation">
	<input type="hidden" name="no_shipping" value="1">
	$<input name="amount" value="0.00" size="6">
	<input style="font-size:1.15em;" type="submit" value="Donate via PayPal">
</form>
</blockquote>

<p>
Finally, if you've picked more than you can use or are overwhelmed by the bumper crop from your private trees, we encourage you to donate the surplus produce to charity or to your neighbors with the help of your local <a href="/sharing">food redistribution programs</a>.
</p>

<h2>About Us</h2>

<!-- Caleb -->
<div class="profile">
 <img class="avatar" src="/caleb.jpg">
 <div class="bio">
  <b>Caleb Philips</b> / <a href="http://smallwhitecube.com">smallwhitecube.com</a><br>
  <a href="mailto:caleb@fallingfruit.org">caleb@fallingfruit.org</a><br>
  Palo Alto, CA<br>

  <p>
  Caleb is a featherless bipedal humanoid passionate about food justice and finding creative ways to use technology to address social issues. When he's not biking around gawking at trees, he balances his efforts between his day job as a computer science professor at the <a href="http://cs.colorado.edu">University of Colorado</a> where he does research, as a consultant mostly in the field of mapping wireless network coverage, and as a worker bee for a number of nonprofit organizations (<a href="http://www.growbiointensive.org/">Ecology Action</a> and <a href="http://www.foodshift.net">Food Shift</a> in the San Francisco Bay Area, <a href="http://boulderfoodrescue.org">Boulder Food Rescue</a> in Boulder, Colorado). Besides all that work stuff, he likes to climb rocks, run trails, ride bikes, and generally be outdoors as much as possible.
  </p>
 </div>
</div>
<br>

<!-- Ethan -->
<div class="profile">
 <img class="avatar" src="/ethan-mountain.jpg">
 <div class="bio">
  <b>Ethan Welty</b> / <a href="http://www.weltyphotography.com">weltyphotography.com</a><br>
  <a href="mailto:ethan@fallingfruit.org">ethan@fallingfruit.org</a><br>
  Boulder, CO<br>

  <p>
  From apple ciders and fruit beers to jams and <a href="http://en.wikipedia.org/wiki/Rumtopf">Rumtopf</a>, Ethan looks to his database of neighborhood trees (and his rickety apple press) for culinary inspiration. While at home in Boulder, he geeks out over maps, data, and time-lapse of retreating glaciers for his PhD at the <a href="http://instaar.colorado.edu/people/ethan-welty/">University of Colorado</a>, but he often leaves his local orbit to walk, talk, eat, and photograph his way across continents.
  </p>
 </div>
</div>

<h2>Closing Remarks</h2>

<p>
Harvesting food in an urban setting comes with certain practical and moral considerations. For an introduction to the ethics of urban foraging, we recommend the excellent summary on our sibling site - Portland, Oregon's <a href="http://urbanedibles.org/project/ethics">Urban Edibles</a>.
</p>

<p>
Most of the foraging maps migrated to Falling Fruit were hosted on public Google Maps pages on which it was all too easy to accidentally move markers around. If an address provided in a description disagrees with the location on the map, the marker was likely moved accidentally on the original map. Please help by updating the location of these markers accordingly whenever your scouting determines the address (and not the mapped location) to be correct.
</p>

<p>
Municipal tree inventories are updated only gradually (if at all) as trees are visited for maintenance. User-contributed and municipal data may be several years old or plain wrong, so be prepared to encounter puzzling inaccuracies in the field. Ultimately, it is your responsibility to determine the identity, edibility, and location of a plant.
</p>
