<div class="rightphoto">  <!-- keep all <img> on same line with no spaces -->
 <img src="/jeff-apples.jpg"><img src="/jeff-tree.jpg"><img src="/plums.jpg"><img src="/amittai-mulberries.jpg">
</div>

<p class="announcement">
This website is still a prototype. We have a lot of exciting features planned, but we also want to evolve to best meet the needs and desires of the community. Write us at <a href="mailto:feedback@fallingfruit.org">feedback@fallingfruit.org</a>. We would love to hear from you!
</p>

<p>
Falling Fruit is a celebration of the overlooked culinary bounty of our city streets. By quantifying this resource on a map, we hope to facilitate intimate connections between people, food, and the natural organisms growing in our neighborhoods. Not just a free lunch! Foraging in the 21st century is an opportunity for urban exploration, to fight the scourge of stained sidewalks, and to reconnect with the botanical origins of food.
</p>

<p>
Our map of urban edibles is not the first of its kind, but we aspire to be the most comprehensive, bringing together the <a href="#foragemaps">maps of foragers</a> all across North America. We are also including <a href="#munimaps">municipal tree inventories</a> - encyclopedic maps of street (and sometimes private) trees that some cities release to the public. This already amounts to more than half a million edible plants mapped, and nearly 400 different species. Beyond the cultivated and commonplace to the exotic flavors of foreign plants and the long-forgotten culinary uses of native plants, foraging in your neighborhood is a journey through time and across cultures.
</p>

<p>
Join us in celebrating the local and edible! The <a href="/">map</a> is free for anyone to use and edit, the entire database can be <a href="/pages/data">downloaded</a> with just one click, and <a href="http://code.google.com/p/fallingfruit-webapp/">our code</a> is open-source. We created Falling Fruit driven by our passion for food and the environment. If you think it's cool and want to say thanks, you can always <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=cphillips@smallwhitecube.com&lc=US&item_name=Falling Fruit Donation&no_note=0&currency_code=USD">buy us a beer</a>.
</p>

<p>
Finally, if you've picked more than you can use or are overwhelmed by the bumper crop from your private trees, we encourage you to donate the surprlus produce to charity with the help of your local <a href="#sharing">food redistribution programs</a>.
</p>

<a name="foragemaps"></a><h2>Foraging Maps</h2>

<p>
Below are the maps we have migrated to Falling Fruit. If you would like your data added to the database, <a href="mailto:info@fallingfruit.org">contact us</a>!
</p>

<div class="country">
<b>United States</b><br>
<div class="datalist">  <!-- Start Multicolumn -->
<ul>California
 <li><a href="http://forageberkeley.blogspot.com/">Forage Berkeley</a></li>
 <li><a href="https://maps.google.com/maps/ms?gl=US&ie=UTF8&oe=UTF8&msa=0&msid=113094865580518929783.0004536c5627003e06a11">Fallen Fruit in Berkeley, CA</a></li>
 <li><a href="https://maps.google.com/maps/ms?hl=en&gl=us&ie=UTF8&msa=0&msid=101873520512973484071.0004444583b8984b4b0eb">Fruit Trees in Davis</a></li>
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&source=embed&oe=UTF8&msa=0&msid=106683759563817393715.00046d82476b8b76e4ca5">Echo Park Fallen Fruit Trees</a></li>
 <li><a href="http://www.echoparknow.com/2009/06/30/fallen-fruit-map/">Echo Park Fruit Map</a></li>
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&oe=UTF8&msa=0&msid=214825052764765335210.00044c42599cb394b16e8">Fallen Fruit of Silver Lake Map</a></li>
 <li><a href="https://maps.google.com/maps/ms?gl=US&ie=UTF8&oe=UTF8&msa=0&msid=106256046522461486922.0004620d94d4db5cb66f4">Fallen Fruit West Los Angeles</a></li>
 <li><a href="https://maps.google.com/maps/ms?msa=0&msid=213304112148660934678.0004a8458ed164e3892a7">Sacramento Foraging</a></li>
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&oe=UTF8&msa=0&msid=103671343379337134836.00046eb3a8d44b0bf2e7c">Fallen Fruit in San Jose, CA</a></li>
 <li><a href="https://maps.google.com/maps/ms?&msa=0&msid=201206776303335196943.0004aecb43b6fea956dfb">Urban Foraging in Santa Barbara</a></li>
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&source=embed&oe=UTF8&msa=0&msid=107166527767102800685.00045b89f2fd197a49962">Fruit Trees in Santa Cruz</a></li>
 <li><a href="https://maps.google.com/maps/ms?&msa=0&msid=110359653917696894126.00048711895d8342a1d43">(Sub)urban Foraging, Santa Rosa</a></li>
 <li><a href="https://maps.google.com/maps/ms?oe=UTF8&ie=UTF8&msa=0&msid=100770360687284815776.00046891bcd22ce6279ed">Stanford Gleaning Project</a></li>
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&oe=UTF8&msa=0&msid=116514689426938830006.00046232063b0efd2163e">Fallen Fruit Map</a></li>
</ul>
<ul>Colorado
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&oe=UTF8&msa=0&msid=115850861822287793115.0004370bda3d883369a58">Boulder Fallen Fruit</a></li>
 <li><a href="https://www.google.com/fusiontables/embedviz?viz=MAP&q=select+col9+from+15Glo-0XfvcpkLLeO4G1Q7uB2lhbi89EeU8bnqNQ&h=false&lat=40.02014261703586&lng=-105.28233848512173&z=13&t=1&l=col9&y=1&tmplt=2">Boulder Fruit Trees</a></li>
 <li><a href="https://maps.google.com/maps/ms?&msa=0&msid=113885839650192992680.0004879c632ad7da2c866">Denver Fruit Map</a></li>
 <li><a href="https://maps.google.com/maps/ms?msid=207747918887476235297.000455f107ed749277a79&msa=0&ll=39.880235,-105.084229&spn=0.643893,1.270294">Falling Fruit Map</a></li>
</ul>
<ul>Florida
 <li><a href="http://edibleplantproject.org/links/local-edibles/">Gainesville Area Public Edibles</a></li>
 <li><a href="https://maps.google.com/maps/ms?msa=0&msid=210532778417730480705.0004a33d19f0f9b2c2963&">Tallahassee Area Public Edibles</a></li>
</ul>
<ul>Idaho
 <li><a href="https://maps.google.com/maps/ms?msa=0&msid=115286227838466807249.00047fe79fe611f4d01a0">Boise Urban Foraging</a></li>
</ul>
<ul>Illinois
 <li><a href="https://www.facebook.com/cufruitmap">C-U Fruit Map</a></li>
 <li><a href="http://orgcentral10580.orgsync.com/org/growersguild/Map">Growers' Guild Loyola</a></li>
</ul>
<ul>Indiana
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&t=h&oe=UTF8&msa=0&msid=115147735076348553729.000455747c08f4f9139dd">Bloomington Urban Harvest</a></li>
</ul>
<ul>Iowa
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&t=h&oe=UTF8&msa=0&msid=101459403533710716963.0004729b5f4beadb0171a">fruit, nuts, other edibles in iowa city</a></li>
</ul>
<ul>Louisiana
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&t=h&oe=UTF8&msa=0&msid=101061926081912482249.000483709234d1fbdef89">Wild Edible Plants & Fruit Trees of New Orleans</a></li>
 <li><a href="https://maps.google.com/maps/ms?ie=UTF&msa=0&msid=204765775026053434114.00049ccfd18c4deac27fd">Urban Bounty New Orleans</a></li>
</ul>
<ul>Massachussetts
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&t=h&oe=UTF8&msa=0&msid=105278886975650663496.000486f14b466a13c07c3">Edible Plants Walk with David Craft</a></li>
</ul>
</div><div class="datalist">  <!-- Colum Break -->
<ul>Michigan
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&oe=UTF8&msa=0&msid=100202272727965376729.0004546d1cee653ade7d1">Feral Fruit Map</a></li>
 <li><a href="https://maps.google.com/maps/ms?msa=0&msid=113671126396994443887.000459533acab461da4d9">Edible Detroit</a></li>
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&oe=UTF8&msa=0&msid=111933058185628214783.0004630f401727ad5cb67">Ypsilanti Fertile Ground</a></li>
</ul>
<ul>Missouri
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&oe=UTF8&msa=0&msid=110553147706589094710.0004710e0aad1e0f3495b">St. Louis Fruit & Nut Trees</a></li>
</ul>
<ul>Montana
 <li><a href="http://1000newgardens.ning.com/page/fruit-gleaning">1000 New Gardens</a></li>
</ul>
<ul>New York
 <li><a href="https://maps.google.com/maps/ms?msa=0&msid=204185305595273021812.0004897c5fcfdb7b46d7b">Fruit Trees in Brooklyn</a></li>
</ul>
<ul>North Carolina
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&oe=UTF8&msa=0&msid=106413179953069400450.00047ae4f4b59c7f09442">Edible Durham Foraging Sites</a></li>
</ul>
<ul>North Dakota
 <li><a href="https://maps.google.com/maps/ms?msa=0&msid=215291080690620281244.0004be55fbee3a61831fb">Forage Fargo/Moorhead</a></li>
</ul>
<ul>Ohio
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&oe=UTF8&msa=0&msid=200529730368904187025.00046beb0a4e9c5047c15">Fruit Trees in Athens, Ohio</a></li>
 <li><a href="https://maps.google.com/maps/ms?&msa=0&msid=112403369639505743141.00046e22c00d4eff23ef7">Urban Foraging in Columbus</a></li>
</ul>
<ul>Oregon
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&oe=UTF8&msa=0&msid=215156218600209355985.0004ab2354f451799f465">Central Oregon Fruit & Food Map</a></li>
 <li><a href="https://maps.google.com/maps/ms?msa=0&msid=200825766791427931503.0004b12a71ba3cf747d51">Whilamut (mostly) Urban Foraging Map</a></li>
 <li><a href="http://urbanedibles.org/">Urban Edibles</a></li>
 <li><a href="https://maps.google.com/maps/ms?msa=0&msid=209765103648809252246.0004c9daae581ccad5bca&mid=1356073184&showlabs=1">Fruit Plants of Salem OR</a></li>
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&oe=UTF-8&hl=en&om=1&msa=0&msid=108691363552245449332.000434ae6888b5759337a">Food Harvest</a></li>
</ul>
<ul>South Carolina
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&oe=UTF8&msa=0&msid=207389823727260966995.00048b35ee2f3cb3106cc">USC Outdoor Recreation Plantings</a></li>
</ul>
<ul>Tennessee
 <li><a href="http://urbanlandscouts.com/">Forage Knoxville</a></li>
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&t=h&oe=UTF8&msa=0&msid=109592857436952152850.00045c4b4c0373b1d6383">Nashville's Edible Landscape</a></li>
</ul>
<ul>Texas
 <li><a href="https://maps.google.com/maps/ms?msid=214242698099343470591.0004cb5629e319e41386a&msa=0">Foraging Austin</a></li>
</ul>
<ul>Utah
 <li><a href="https://maps.google.com/maps/ms?ie=UTF8&oe=UTF8&msa=0&msid=200337105706280029972.0004be86fe7133dded04b">Utah State University Tree Tour</a></li>
</ul>
<ul>Washington
		<li><a href="http://neverbuyrosemary.blogspot.com/p/seattle-foraging-map.html">Never Buy Rosemary</a></li>
		<li><a href="https://maps.google.com/maps/ms?ie=UTF8&source=embed&oe=UTF8&msa=0&msid=109646579796191309018.00045a2cb92da7f957457">Seattle Fruit Tree Gleaning</a></li>
</ul>
<ul>Wisconsin
		<li><a href="http://www.madisonfruitsandnuts.org/">Madison Fruits and Nuts</a></li>
</ul>
</div>  <!-- Close Multicolumn -->
</div>  <!-- Close Country -->

<div class="country">
<b>Canada</b><br>
<div class="datalist">  <!-- Start Multicolumn -->
<ul>British Columbia
		<li><a href="http://publicfruitvancouver.blogspot.com/">Public Fruit Vancouver</a></li>
		<li><a href="http://maps.google.ca/maps/ms?msa=0&hl=en&ie=UTF8&t=p&msid=210853208019009454085.0004a8de909c463d4e933&ll=49.277661,-123.122406&spn=0.215022,0.439453&z=11&source=embed">Urban Edibles Vancouver</a></li>
</ul>
<ul>Ontario
		<li><a href="http://www.appleseedcollective.org/index.php?option=com_content&task=view&id=31&Itemid=48">Guelph Fruit Tree Project</a></li>
</ul>
</div>  <!-- Close Multicolumn -->
</div>  <!-- Close Country -->


<a name="munimaps"></a><h2>Municipal Tree Inventories</h2>

<p>
Below are the cities whose tree inventories we have migrated to Falling Fruit. If you are in a position to share this type of data and would like your city added to the map, <a href="mailto:info@fallingfruit.org">contact us</a>!
</p>

<div class="country">
<b>United States</b><br>
<div class="datalist">  <!-- Start Multicolumn -->
 <li><a href="http://www.arcgis.com/home/item.html?id=4eaa4f8ceecf47cc89ea5726ddbcaad7">Amherst, MA</a></li>
 <li><a href="http://www.a2gov.org/government/publicservices/fieldoperations/forestry/Pages/TreeInventory.aspx">Ann Arbor, MI</a></li>
 <li><a href="http://www.ci.berkeley.ca.us/datacatalog/">Berkeley, CA</a></li>
 <li>Boulder, CO</li>
 <li><a href="http://cugir.mannlib.cornell.edu/bucketinfo.jsp?id=8026">Cayuga Heights, NY</a></li>
 <li><a href="http://cugir.mannlib.cornell.edu/bucketinfo.jsp?id=8025">Cornell University, NY</a></li>
 <li><a href="http://warrencountyny.gov/gis/TreeInventory.html">Glens Falls, NY</a></li>
 <li><a href="http://treemap.urbanforestproject.com/map/">Grand Rapids, WY</a></li>
 <li><a href="http://www.arcgis.com/home/item.html?id=ab795a832412417288dd0925e7caf950">Minneapolis, MN</a></li>
 <li><a href="http://www.nashville.gov/Public-Works/Community-Beautification/Tree-Information/Inventory-and-Canopy-Assessment.aspx">Nashville, TN</a></li>
 <li><a href="http://datakind.org/mediawiki-1.19.0/index.php?title=NYC_Parks_DataDive_2012">New York, NY</a></li>
</div><div class="datalist">  <!-- Column Break --> 
 <li><a href="http://www.oak-park.us/public/pdfs/forestry/2009_tree_inventory.pdf">Oak Park, IL</a></li>
 <li><a href="http://www2.oaklandnet.com/Government/o/CityAdministration/OAK029272">Oakland, CA</a></li>
 <li><a href="http://phillytreemap.org/map/">Philadelphia, PA</a></li>
 <li><a href="http://www.arcgis.com/home/item.html?id=f85c7473f891412fbae04cd4014b3ed5">Phoenix, AZ</a></li>
 <li><a href="http://www.portlandoregon.gov/bts/article/268487">Portland, OR</a></li> 
 <li><a href="http://greenprintmaps.org/map/">Sacramento, CA</a></li>
 <li><a href="http://www.arcgis.com/home/item.html?id=2c0a2d3e3ae64a37b1eb3ef8148feb20">Saint Louis Park - Victoria Ponds, MN</a></li>
 <li><a href="http://www.sangis.org/">San Diego, CA</a></li>
 <li><a href="http://urbanforestmap.org/map/">San Francisco, CA</a></li>
 <li><a href="https://data.seattle.gov/dataset/Trees/xg4t-j322">Seattle, WA</a></li>
 <li><a href="http://dcatlas.dcgis.dc.gov/catalog/info.asp?info=2175&pagesize=100&page=1&pretype=All&pretype_info=&alpha=U">Washington, DC</a></li>
</div>  <!-- Close Multicolumn -->
</div>  <!-- Close Country -->

<div class="country">
<b>Canada</b><br>
<div class="datalist">  <!-- Start Multicolumn -->
 <li><a href="https://data.edmonton.ca/Environmental-Services/Trees/eecg-fc54">Edmonton, AB</a></li>
 <li><a href="http://donnees.ville.montreal.qc.ca/fiche/arbres/">Montr&eacute;al - Ville Marie, QC</a></li>
 <li><a href="http://www1.toronto.ca/wps/portal/open_data/open_data_item_details?vgnextoid=5af95104c26f3310VgnVCM1000003dd60f89RCRD&vgnextchannel=6e886aa8cc819210VgnVCM10000067d60f89RCRD">Toronto, ON</a></li>
 <li><a href="http://data.vancouver.ca/datacatalogue/streetTrees.htm">Vancouver, BC</a></li>
</div>  <!-- Close Multicolumn -->
</div>  <!-- Close Country -->


<a name="sharing"></a><h2>Produce Sharing</h2>

<p>
Foragers and private tree owners overwhelmed by their harvest are encouraged to donate their surplus produce to charity. The organizations listed below specialize in picking and redistributing fresh produce, but produce may also be donated directly to local institutions like food banks, senior centers, schools, and homeless shelters. If you know of additional organizations that should be on this list, <a href="mailto:info@fallingfruit.org">contact us</a>!
</p>

<div class="country">
<b>United States</b><br>
<div class="datalist">  <!-- Start Multicolumn -->
	<ul>California
		<li><a href="http://foodforward.org/">Food Forward</a></li>
		<li><a href="https://www.soilborn.org/index.php?option=com_content&view=category&layout=blog&id=89&Itemid=84">Harvest Sacramento</a></li>
		<li><a href="http://fruitforfamiliessandiego.org/">Harvesting Opportunities Collaborative</a></li>
		<!-- Not accepting more donations <li><a href="http://northberkeleyharvest.org/">North Berkeley Harvest</a></li> -->
		<li><a href="http://www.fruitcruz.org/">The Santa Cruz Fruit Tree Project</a></li>
		<li><a href="http://www.villageharvest.org/">Village Harvest</a></li>
	</ul>
	<ul>Colorado
		<li><a href="http://www.boulderfoodrescue.org/index.php/gah/">Garden Against Hunger</a></li>
		<li><a href="http://yardharvest.org/">Denver Yard Harvest</a></li>
	</ul>
	<ul>Idaho
		<li><a href="http://www.backyardharvest.org/">Backyard Harvest</a></li>
	</ul>
	<ul>Kansas
		<li><a href="http://lawrencefruittreeproject.wordpress.com/">Lawrence Fruit Tree Project</a></li>
	</ul>
</div><div class="datalist">  <!-- Column Break --> 
	<ul>Louisiana
		<li><a href="http://www.nolafruit.org/">New Orleans Fruit Tree Project</a></li>
	</ul>
	<ul>Maryland
		<li><a href="http://www.baltimoreorchard.org/">Baltimore Orchard Project</a></li>
	</ul>
	<ul>Massachussets
		<li><a href="http://bostonareagleaners.org/">Boston Area Gleaners</a></li>
	</ul>
	<ul>Oregon
		<li><a href="http://portlandfruit.org/">Portland Fruit Tree Project</a></li>
	</ul>
	<ul>Washington
		<li><a href="http://www.cityfruit.org/">City Fruit</a></li>
		<li><a href="http://www.solid-ground.org/programs/nutrition/fruittree/pages/default.aspx">Community Fruit Tree Harvest</a></li>
	</ul>
</div>  <!-- Close Multicolumn -->
</div>  <!-- Close Country -->

<div class="country">
<b>Canada</b><br>
<div class="datalist">  <!-- Start Multicolumn -->
 <ul>British Columbia
	<li><a href="http://earthmatters.ca/youth/harvest-rescue-project.html">Harvest Rescue Project</a></li>
	<li><a href="http://lifecyclesproject.ca/initiatives/fruit_tree/">Lifecycles Fruit Tree Project</a></li>
	<li><a href="http://www.richmondfoodsecurity.org/2012/surplus-fruit/">Richmond Food Security Society</a></li>
	<li><a href="http://scfruittree.org/">Sunshine Coast Fruit Tree Project</a></li>
	<li><a href="https://vancouverfruittree.com/">Vancouver Fruit Tree Project</a></li>
 </ul>
 <ul>Ontario
	<li><a href="http://www.appleseedcollective.org/index.php?option=com_content&task=view&id=29&Itemid=42">Guelph Fruit Tree Project</a></li>
	<li><a href="http://hamiltonfruittreeproject.blogspot.com/">Hamilton Fruit Tree Project</a></li>
	<li><a href="http://www.notfarfromthetree.org/">Not Far From The Tree</a></li>
 </ul>
</div>  <!-- Close Multicolumn -->
</div>  <!-- Close Country -->


<h2>About Us</h2>

<!-- Caleb -->
<div class="profile">
 <img class="avatar" src="/caleb.jpg">
 <div class="bio">
  <b>Caleb Philips</b> / <a href="http://smallwhitecube.com">smallwhitecube.com</a><br>
  <a href="mailto:caleb@fallingfruit.org">caleb@fallingfruit.org</a><br>
  Palo Alto, CA<br>

  <p>
  Caleb is a featherless bipedal humanoid passionate about food justice and finding creative ways to use technology to address social issues. When he's not biking around gawking at trees, he balances his efforts between his day job as a computer science professor at the <a href="http://cs.colorado.edu">University of Colorado</a> where he does research, as a consultant mostly in the field of mapping wireless network coverage, and as a worker bee for a number of nonprofit organizations (<a href="http://www.growbiointensive.org/">Ecology Action</a> and <a href="http://www.foodshift.net">Food Shift</a> in the San Francisco Bay Area, <a href="http://boulderfoodrescue.org">Boulder Food Rescue</a> in Boulder, Colorado). Besides all that work stuff, he likes to climb rocks, run trails, ride bikes, and generally be outdoors as much as possible.
  </p>
 </div>
</div>
<br>

<!-- Ethan -->
<div class="profile">
 <img class="avatar" src="/ethan-mountain.jpg">
 <div class="bio">
  <b>Ethan Welty</b> / <a href="http://www.weltyphotography.com">weltyphotography.com</a><br>
  <a href="mailto:ethan@fallingfruit.org">ethan@fallingfruit.org</a><br>
  Boulder, CO<br>

  <p>
  From apple ciders and fruit beers to jams and <a href="http://en.wikipedia.org/wiki/Rumtopf">Rumtopf</a>, Ethan looks to his database of neighborhood trees (and his rickety apple press) for culinary inspiration. While at home in Boulder, he geeks out over maps, data, and time-lapse of retreating glaciers for his PhD at the <a href="http://instaar.colorado.edu/people/ethan-welty/">University of Colorado</a>, but he often leaves his local orbit to walk, talk, eat, and photograph his way across continents.
  </p>
 </div>
</div>

<h2>Closing Remarks</h2>

<p>
Harvesting food in an urban setting comes with certain practical and moral considerations. For an introduction to the ethics of urban foraging, we recommend the excellent summary on our sibling site - Portland, Oregon's <a href="http://urbanedibles.org/project/ethics">Urban Edibles</a>.
</p>

<p>
Most of the foraging maps migrated to Falling Fruit were hosted on public Google Maps pages on which it was all too easy to accidentally move markers around. If an address provided in a description disagrees with the location on the map, the marker was likely moved accidentally on the original map. Please help by updating the location of these markers accordingly whenever your scouting determines the address (and not the mapped location) to be correct.
</p>

<p>
Municipal tree inventories are updated only gradually (if at all) as trees are visited for maintenance. User-contributed and municipal data may be several years old or plain wrong, so be prepared to encounter puzzling inaccuracies in the field. Ultimately, it is your responsibility to determine the identity, edibility, and location of a plant.
</p>
