<h1>About</h1>

<div style="float: right;"><img src="/apples.jpg"></div>
<p><em style="font-weight: bold;">
This website is still a prototype. We have a lot of exciting features planned, but we also want to evolve to best meet the needs and desires of the community. Please send us your feedback (at <a href="mailto:feedback@fallingfruit.org">feedback@fallingfruit.org</a>), we would love to hear from you!
</em></p>

<p>
Falling Fruit is a celebration of the overlooked culinary bounty of our city streets. By quantifying this resource on a map, we hope to facilitate intimate connections between people, food, and the natural organisms growing in our neighborhoods. Not just a free lunch! Foraging in the 21st century is an opportunity for urban exploration, to reduce waste, and to reconnect with the botanical origins of food.
</p>

<p>
Our map of urban edibles is not the first of its kind, but we aspire to be the most comprehensive, bringing together the maps of foragers all across North America. We are also including municipal tree inventories - encyclopedic maps of street (and sometimes private) trees that some cities release to the public. This already amounts to more than one million edible plants mapped, from nearly 400 species. Beyond the cultivated and commonplace to the exotic flavors of foreign plants and the long-forgotten culinary uses of native plants, foraging in your neighborhood is also a journey back in time and across cultures.
</p>

<p>
Join us in celebrating the local and edible! The map is free for anyone to use and edit, the entire database can be downloaded <a href="/pages/data">with just one click</a>, and all of <a href="http://code.google.com/p/fallingfruit-webapp/">our code is open-source</a>. 
</p>

<p>
Below are the maps we have migrated to Falling Fruit. If you would like your data added to the database, <a href="mailto:info@fallingfruit.org">contact us!</a>
</p>

<h2>Foraging Maps</h2>

<table style="width: 60em;">
<tr>
<td style="vertical-align: top;">
<ul>
<li>United States
 <ul>
  <li>California
   <ul>
    <li>Forage Berkeley
    <li>Fallen Fruit in Berkeley, CA
    <li>Fruit Trees in Davis
    <li>Echo Park Fallen Fruit Trees
    <li>Echo Park Fruit Map
    <li>Fallen Fruit of Silver Lake Map
    <li>Fallen Fruit West Los Angeles
    <li>Sacramento Foraging
    <li>Urban Agriculture in San Francisco
    <li>Fallen Fruit in San Jose, CA
    <li>Urban Foraging in Santa Barbara
    <li>Fruit Trees in Santa Cruz
    <li>(Sub)urban Foraging, Santa Rosa
    <li>Stanford Gleaning Project
    <li>(Venice Beach) Fallen Fruit Map
   </ul>
  <li>Colorado
   <ul>
    <li>Boulder Fallen Fruit
    <li>Boulder Fruit Trees (surveyed)
    <li>Denver Fruit Map
    <li>Falling Fruit Map
   </ul>
  <li>Florida
   <ul>
    <li>Gainesville Area Public Edibles
    <li>Tallahassee Area Public Edibles
   </ul>
  <li>Idaho
   <ul>
    <li>Boise Urban Foraging
   </ul>
  <li>Illinois
   <ul>
    <li>C-U Fruit Map
    <li>Growers' Guild Loyola
   </ul>
  <li>Indiana
   <ul>
    <li>Bloomington Urban Harvest
   </ul>
  <li>Iowa
   <ul>
    <li>fruit, nuts, other edibles in iowa city
   </ul>
  <li>Louisianna
   <ul>
    <li>Wild Edible Plants & Fruit Trees of New Orleans
    <li>Urban Bounty New Orleans
   </ul>
  <li>Massachussetts
   <ul>
    <li>Edible Plants Walk with David Craft
   </ul>
  <li>Michigan
   <ul>
    <li>(Ann Arbor) Feral Fruit Map
    <li>Edible Detroit
    <li>Ypsilanti Fertile Ground
   </ul>
 </ul>
</ul>
<td style="vertical-align: top;">
<ul>
 <ul>
  <li>Missouri
   <ul>
    <li>St. Louis Fruit & Nut Trees
   </ul>
  <li>Montana
   <ul>
    <li>1000 New Gardens (Bozeman)
   </ul>
  <li>New York
   <ul>
    <li>Fruit Trees in Brooklyn
   </ul>
  <li>North Carolina
   <ul>
    <li>Edible Durham Foraging Sites
   </ul>
  <li>North Dakota
   <ul>
    <li>Forage Fargo/Moorhead
   </ul>
  <li>Ohio
   <ul>
    <li>Fruit Trees in Athens, Ohio
    <li>Urban Foraging in Columbus
   </ul>
  <li>Oregon
   <ul>
    <li>Central Oregon Fruit & Food Map
    <li>Whilamut (mostly) Urban Foraging Map
    <li>(Portland) Urban Edibles
    <li>Fruit Plants of Salem OR
    <li>Food Harvest
   </ul>
  <li>Pennsylvania
   <ul>
    <li>Philadelphia Orchard Project Map
   </ul>
  <li>South Carolina
   <ul>
    <li>USC Outdoor Recreation Plantings
   </ul>
  <li>Tennessee
   <ul>
    <li>Forage Knoxville
    <li>Nashville's Edible Landscape
   </ul>
  <li>Texas
   <ul>
    <li>Foraging Austin
   </ul>
  <li>Utah
   <ul>
    <li>Utah State University Tree Tour
   </ul>
  <li>Washington
   <ul>
    <li>Never Buy Rosemary
    <li>Seattle Fruit Tree Gleaning
   </ul>
  <li>Wisconsin
   <ul>
    <li>Madison Fruits and Nuts
   </ul>
 </ul>
<li>Canada
 <ul>
  <li>Public Fruit Vancouver
  <li>Urban Edibles Vancouver
  <li>Guelph Fruit Tree Project
 </ul>
</ul>
</table>

<h2>Municipal Tree Inventories</h2>

<table style="width: 30em;">
<tr><td style="vertical-align: top;">
<ul>
<li>United States
 <ul>
  <li>Amherst, MA
  <li>Ann Arbor, MI
  <li>Berkeley, CA
  <li>Boulder, CO
  <li>Cayuga Heights, NY
  <li>Cornell University, NY
  <li>Glens Falls, NY
  <li>Grand Rapids, WY
  <li>Minneapolis, MN
  <li>Nashville, TN
  <li>New York, NY
  <li>Oak Park, IL
  <li>Oakland, CA
  <li>Philadelphia, PA
 </ul>
</ul>
<td style="vertical-align: top;">
<ul>
 <ul>
  <li>Phoenix, AZ
  <li>Portland, OR
  <li>Sacramento, CA
  <li>Saint Louis Park, MN
  <li>San Diego, CA
  <li>San Francisco, CA
  <li>Seattle, WA
  <li>Washington, DC
 </ul>
<li>Canada
 <ul>
  <li>Edmonton
  <li>Montréal
  <li>Toronto
  <li>Vancouver
 </ul>
</ul>
</table>

<h2>About Us</h2>

<table style="width: 800px;">
<tr><td><img src="/caleb.jpg"></td>
<td style="vertical-align: bottom;">
Caleb Philips<br>
<a href="mailto:caleb@fallingfruit.org">caleb@fallingfruit.org</a><br>
Palo Alto, CA<br>

<p>
Caleb is a featherless bipedal humanoid who is passionate about food justice, and interested in ways to use technology creatively to approach social issues. When he’s not biking around gawking at trees, he balances his efforts between his day job as a computer science professor at the <a href="http://cs.colorado.edu">University of Colorado</a> where he does research, as a consultant mostly in the space of mapping wireless network coverage, and as a worker bee for a number of nonprofit organizations (<a href="http://www.growbiointensive.org/">Ecology Action</a> and <a href="http://www.foodshift.net">Food Shift</a> in the San Francisco Bay Area, <a href="http://boulderfoodrescue.org">Boulder Food Rescue</a> in Boulder, Colorado). Besides all that work stuff, he likes to climb rocks, run trails, and ride bikes and generally be outdoors as much as possible.
</p>
</td>
<tr>
<td>
[photo]
<td stle="vertical-align: bottom;">
Ethan Welty<br>
ethan@fallingfruit.org<br>
Boulder, CO<br>

[bio?]
</tr>
</table>

<h2>Closing Remarks</h2>

<p>
Harvesting food in an urban setting comes with certain moral and practical responsibilities. As an introduction to the ethics of urban foraging, we recommend the excellent summary on our sibling site - Portland, Oregon’s Urban Edibles <a href="http://urbanedibles.org/project/ethics">here</a>
</p>
<p>
Municipal tree inventories are extensive, and only updated gradually, if at all, as trees are worked on. Some data could be several years old, so be prepared to encounter puzzling inaccuracies in the field. Likewise, some user-provided data may be plain wrong. Ultimately, it is your responsibility to determine the identity, edibility, and location of a plant.
</p>
