<p>
This page provides a list of cities and universities whose tree inventories we have migrated to Falling Fruit. If you have data to share, <a href="mailto:info@fallingfruit.org">contact us</a>! Many tree inventories exist, but few are readily available online. To help us get your neighborhood on the map, contact your school or city urging them to share their tree inventory with us.
</p>

<div class="country">
<b>United States</b><br>
<div class="datalist">  <!-- Start Multicolumn -->
 <li><a href="http://www.arcgis.com/home/item.html?id=4eaa4f8ceecf47cc89ea5726ddbcaad7">Amherst, MA</a></li>
 <li><a href="http://www.a2gov.org/government/publicservices/fieldoperations/forestry/Pages/TreeInventory.aspx">Ann Arbor, MI</a></li>
 <li><a href="http://www.ci.berkeley.ca.us/datacatalog/">Berkeley, CA</a></li>
 <li>Boulder, CO</li>
 <li><a href="http://cugir.mannlib.cornell.edu/bucketinfo.jsp?id=8026">Cayuga Heights, NY</a></li>
 <li><a href="http://cugir.mannlib.cornell.edu/bucketinfo.jsp?id=8025">Cornell University, NY</a></li>
 <li><a href="http://warrencountyny.gov/gis/TreeInventory.html">Glens Falls, NY</a></li>
 <li><a href="http://treemap.urbanforestproject.com/map/">Grand Rapids, WY</a></li>
 <li><a href="http://www.arcgis.com/home/item.html?id=ab795a832412417288dd0925e7caf950">Minneapolis, MN</a></li>
 <li><a href="http://www.nashville.gov/Public-Works/Community-Beautification/Tree-Information/Inventory-and-Canopy-Assessment.aspx">Nashville, TN</a></li>
 <li><a href="http://datakind.org/mediawiki-1.19.0/index.php?title=NYC_Parks_DataDive_2012">New York, NY</a></li>
 <li><a href="http://www.oak-park.us/public/pdfs/forestry/2009_tree_inventory.pdf">Oak Park, IL</a></li>
 <li><a href="http://www2.oaklandnet.com/Government/o/CityAdministration/OAK029272">Oakland, CA</a></li>
</div><div class="datalist">  <!-- Column Break --> 
 <li><a href="http://phillytreemap.org/map/">Philadelphia, PA</a></li>
 <li><a href="http://pittsburghpa.gov/dcp/gis/gis-data">Pittsburgh, PA</a>
 <li><a href="http://www.arcgis.com/home/item.html?id=f85c7473f891412fbae04cd4014b3ed5">Phoenix, AZ</a></li>
 <li><a href="http://www.portlandoregon.gov/bts/article/268487">Portland, OR</a></li> 
 <li><a href="http://greenprintmaps.org/map/">Sacramento, CA</a></li>
 <li><a href="http://www.arcgis.com/home/item.html?id=2c0a2d3e3ae64a37b1eb3ef8148feb20">Saint Louis Park - Victoria Ponds, MN</a></li>
 <li><a href="http://www.sangis.org/">San Diego, CA</a></li>
 <li><a href="http://urbanforestmap.org/map/">San Francisco, CA</a></li>
 <li><a href="https://data.seattle.gov/dataset/Trees/xg4t-j322">Seattle, WA</a></li>
 <li><a href="http://earth.gis.usu.edu/trees/">Utah State University, UT</a>
 <li><a href="http://dcatlas.dcgis.dc.gov/catalog/info.asp?info=2175&pagesize=100&page=1&pretype=All&pretype_info=&alpha=U">Washington, DC</a></li>
 <li><a href="http://www.wwu.edu/Fm/Services/Operations/pdf/Outdoor/Trees%20of%20interest%20at%20Western%20Washington%20University.pdf">Western Washington University, WA</a> (<a href="http://yorktown.cbe.wwu.edu/sandvig/treetour/">#2</a>)
</div>  <!-- Close Multicolumn -->
</div>  <!-- Close Country -->

<div class="country">
<b>Canada</b><br>
<div class="datalist">  <!-- Start Multicolumn -->
 <li><a href="https://data.edmonton.ca/Environmental-Services/Trees/eecg-fc54">Edmonton, AB</a></li>
 <li><a href="http://donnees.ville.montreal.qc.ca/fiche/arbres/">Montr&eacute;al - Ville Marie, QC</a></li>
 <li><a href="http://app06.ottawa.ca/online_services/opendata/info/tree_inventory_en.html">Ottowa, ON</a>
 <li><a href="http://www1.toronto.ca/wps/portal/open_data/open_data_item_details?vgnextoid=5af95104c26f3310VgnVCM1000003dd60f89RCRD&vgnextchannel=6e886aa8cc819210VgnVCM10000067d60f89RCRD">Toronto, ON</a></li>
 <li><a href="http://data.vancouver.ca/datacatalogue/streetTrees.htm">Vancouver, BC</a></li>
</div>  <!-- Close Multicolumn -->
</div>  <!-- Close Country -->



