<table id="press_list">

<!-- Radio 1190 -->
<tr><td class='date'>May 24<br/><span class='year'>2013</span></td><td><a href='http://www.radio1190.org'><b>Radio 1190</b></a><br/><a href='http://archive.org/details/ClimbtalkEthanWeltyAndAndyMcclure5242013'>Climb Talk</a> hosts Mike Brooks and Dave McAllister interview Ethan in the KVCU studios.<br/>
<iframe src="http://archive.org/embed/ClimbtalkEthanWeltyAndAndyMcclure5242013" width="500" height="30" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
</td></tr>

<!-- Boise Weekly -->
<tr><td class='date'>May 22<br/><span class='year'>2013</span></td><td><a href='http://www.boiseweekly.com/'><b>Boise Weekly</b></a><br/><a href='http://www.boiseweekly.com/boise/off-the-beaten-path-summer-alternatives-to-skip-the-crowds/Content?oid=2871260'>Off the Beaten Path: Summer Alternatives to Skip the Crowds </a> by Tara Morgan</td></tr>

<!-- Brown Paper Bag Delhi -->
<tr><td class='date'>May 20<br/><span class='year'>2013</span></td><td><a href='http://bpbweekend.com/delhi'><b>Brown Paper Bag Delhi</b></a><br/><a href='http://bpbweekend.com/delhi-food-and-drink/falling-fruit-make-like-a-tree-and-leaf'>Falling Fruit: Make Like A Tree And Leaf</a> by Meenakshi Reddy Madhavan</td></tr>

<!-- Fucking Homepage -->
<tr><td class='date'>May 18<br/><span class='year'>2013</span></td><td><a href='http://fuckinghomepage.com'><b>Fucking Homepage</b></a><br/><a href='http://fuckinghomepage.com/post/50712973786/may-18-2013'><img src="/fucking_homepage.jpg" alt="Mapping the urban fucking harvest" /></a></td></tr>

<!-- Associated Press -->
<tr><td class='date'>May 15<br/><span class='year'>2013</span></td><td><a href='http://www.ap.org/'><b>Associated Press</b></a><br/><a href='http://abcnews.go.com/Health/wireStory/found-fruit-online-map-gateway-edibles-19182961#.UZOplsp1Y7t'>Found fruit: Online map is gateway to edibles</a> by Donna Bryson<br/>
<span class="subtitle">Syndicated in newspapers worldwide (<a href="https://www.google.com/search?q=%22Found+Fruit:+Online+Map+Is+Gateway+to+Edibles%22+OR+%22Sharing+the+harvest:+New+online+map+identifies+fruit+free+for+the+picking%22+OR+(%22fallingfruit.org%22+AND+%22donna+bryson%22)&num=100&hl=en&noj=1&ei=tkShUZeGCabvygGu_4HYCg&start=0&sa=N&filter=0&biw=1436&bih=783">list</a>), including the <a href="http://www.denverpost.com/athome/ci_23270559/free-eats-across-globe-cu-student-maps-urban">Denver Post</a>, <a href="http://www.sfgate.com/living/article/Found-fruit-Online-map-is-gateway-to-edibles-4517788.php">San Francisco Chronicle</a>, <a href="http://www.washingtonpost.com/lifestyle/home/sharing-the-harvest-new-online-map-identifies-fruit-free-for-the-picking/2013/05/15/428e1f22-bd60-11e2-b537-ab47f0325f7c_story.html">Washington Post</a>, <a href="http://www.calgaryherald.com/life/food-restaurants/Sharing+harvest+online+identifies+fruit+free/8388068/story.html">Calgary Herald</a>, and <a href="http://www.etaiwannews.com/etn/news_content.php?id=2222400">Taiwan News</a>.</span></td></tr>

<!-- Times of Israel -->
<tr><td class='date'>May 14<br/><span class='year'>2013</span></td><td><a href='http://www.timesofisrael.com/'><b>Times of Israel</b></a><br/><a href='http://www.timesofisrael.com/waste-not-want-not-on-shavuot-with-falling-fruits/'>Gleaning just like Ruth would have done, if she’d had Google Maps</a> by Amanda Borschel-Dan<br/>
<span class="subtitle">Published to coincide with the Jewish holiday of Shavuot.</span>
</td></tr>

<!-- Womens Movement -->
<tr><td class='date'>May 8<br/><span class='year'>2013</span></td><td><a href='http://www.womensmovement.com/'><b>Womens Movement</b></a><br/><a href='http://www.womensmovement.com/eco-ideas-biodiesel-soap-foraging-map-and-more/'>Eco Ideas: Profitable Preserves, Foraging Maps, and More</a> by Clark Tate</td></tr>

<!-- PolicyMic -->
<tr><td class='date'>May 6<br/><span class='year'>2013</span></td><td><a href='http://policymic.com/'><b>PolicyMic</b></a><br/><a href='http://policymic.com/articles/39321/4-ways-to-make-food-more-sustainable-in-big-cities'>4 Ways to Make Food More Sustainable in Big Cities</a> by Blair Koch</td></tr>

<!-- Patch Network -->
<tr><td class='date'>April 28<br/><span class='year'>2013</span></td><td><a href='http://www.patch.com/'><b>Patch Network</b></a><br/><a href='http://bethesda-chevychase.patch.com/articles/free-fruit-in-bethesda-if-youre-willing-to-forage-for-it-f79992dc'>Free Fruit in Bethesda, if You're Willing to Forage for It</a> by Whitney Teal</td></tr>

<!-- Mother Nature Network -->
<tr><td class='date'>April 26<br/><span class='year'>2013</span></td><td><a href='http://www.mnn.com/'><b>Mother Nature Network</b></a><br/><a href='http://www.mnn.com/food/healthy-eating/blogs/forage-from-fruit-trees-in-your-city-with-the-help-of-this-map'>Forage from fruit trees in your city with the help of this map</a> by Kimi Harris</td></tr>

<!-- MSN Now -->
<tr><td class='date'>April 24<br/><span class='year'>2013</span></td><td><a href='http://now.msn.com/'><b>MSN Now</b></a><br/><a href='http://now.msn.com/falling-fruit-map-shows-free-food-in-cities'>Where can you forage in your city? Now there's a map.</a></td></tr>

<!-- Grist -->
<tr><td class='date'>April 24<br/><span class='year'>2013</span></td><td><a href='http://grist.org/'><b>Grist</b></a><br/><a href='http://grist.org/list/this-map-will-tell-you-where-to-forage-for-food-in-your-neighborhood/'>This map will tell you where to forage for food in your neighborhood</a> by Sarah Laskow</td></tr>

<!-- NPR's The Salt -->
<tr><td class='date'>April 23<br/><span class='year'>2013</span></td><td><a href='http://www.npr.org/blogs/thesalt/'><b>NPR's The Salt</b></a><br/><a href='http://www.npr.org/blogs/thesalt/2013/04/23/178603623/want-to-forage-in-your-city-theres-a-map-for-that'>Want to Forage in Your City? There's a Map for That</a> by Kristofor Husted<br/><span class="subtitle">Syndicated nationally by NPR affiliates (<a href="https://www.google.com/search?q=%22Want+To+Forage+In+Your+City%3F+There's+A+Map+For+That%22#q=%22Want+To+Forage+In+Your+City%3F+There%27s+A+Map+For+That%22&filter=0&bav=on.2,or.r_cp.r_qf.&bvm=bv.47008514,d.aWc&fp=780509453b859927&biw=2223&bih=1180">list</a>), including <a href="http://www.wnyc.org/npr_articles/2013/apr/23/want-to-forage-in-your-city-theres-a-map-for-that/">WNYC</a>, <a href="http://wwno.org/post/want-forage-your-city-theres-map">WWNO</a>, and <a href="http://www.opb.org/artsandlife/article/npr-want-to-forage-in-your-city-theres-a-map-for-that/">OPB</a>.</span></td></tr>

<!-- NewsTeamBoulder -->
<tr><td class='date'>April 4<br/><span class='year'>2013</span></td><td><a href='http://www.newsteamboulder.org/'><b>NewsTeamBoulder</b></a><br/><a href='http://www.youtube.com/watch?v=OQ9bFwpXr84&feature=youtu.be'>FallingFruit.org</a> by Hannah Leigh Myers.<br/>
<iframe width="420" height="315" src="http://www.youtube.com/embed/OQ9bFwpXr84?rel=0" frameborder="0" allowfullscreen></iframe></td>
</tr>

<!-- Falling Fruit launches -->
<tr><td class='date'>March 22<br/><span class='year'>2013</span></td><td><a href='https://docs.google.com/document/d/1yiIJAfJ22PtEth7mDAymC0karRyJuzLzgfgCNx4Xd6g/edit?usp=sharing'><b>FallingFruit.org launches !</b></a> (press release)</td></tr>

</table>