<table id="press_list">

<!-- Dark Rye --> <tr><td class='date'>August<br/><span class='year'>2014</span></td><td><a href="http://www.darkrye.com/"><b>Dark Rye</b></a><br/><a href="http://www.darkrye.com/content/back-way-we-ate-jerry-james-stone">Back to the Way We Ate: Foraging in Familiar Places</a> by Jerry James Stone</td></tr>

<!--Comstock's Magazine --><tr><td class='date'>August 2<br/><span class='year'>2014</span></td><td><a href="http://www.comstocksmag.com/"><b>Comstock's</b></a><br/><a href="http://www.comstocksmag.com/article/coming-sidewalk-near-you">Coming to a Sidewalk Near You</a> by Allison Joy</td></tr>

<!-- Austin American-Statesman --><tr><td class='date'>July 22<br/><span class='year'>2014</span></td><td><a href='http://www.mystatesman.com/'><b>Austin American-Statesman</b></a><br/><a href='http://www.mystatesman.com/news/lifestyles/food-cooking/food-for-free/ngfXD/'>Food for free</a> by Ari LeVaux</td></tr>

<!-- Reviewed.com --><tr><td class='date'>July 17<br/><span class='year'>2014</span></td><td><a href='http://reviewed.com'><b>Reviewed.com</b></a><br/><a href='http://ovens.reviewed.com/features/falling-fruit-a-digital-map-to-the-urban-orchard'>Falling Fruit: A Digital Map to the Urban Orchard</a> by Jonathan Chan</td></tr>

<!-- In the Field Magazine --><tr><td class='date'>July 1<br/><span class='year'>2014</span></td><td><a href='http://inthefieldmagazine.com'><b>In the Field Magazine</b></a><br/><a href='http://issuu.com/inthefield/docs/july-august_2014_hillsweb/39?e=1263016/8607512'>Fruit Networking</a> by Libby Hopkins</br><img src="/press/inthefield.jpg" alt="Fruit Networking" /></td></tr>

<!-- Boulder Lifestyle Magazine --><tr><td class='date'>July 1<br/><span class='year'>2014</span></td><td><a href='http://www.boulderlifestylepubs.com/'><b>Boulder Lifestyle Magazine</b></a><br/><a href='http://issuu.com/lifestylepubs/docs/bljuly2014finallr/19?e=10131829/8390622'>Fruitmapping Enthusiasts Raise Funds for an App</a> by Heather Shoning</td></tr>

<!-- Feminin Bio --><tr><td class='date'>June 18<br/><span class='year'>2014</span></td><td><a href='http://www.femininbio.com/'><b>Feminin Bio</b></a><br/><a href='http://www.femininbio.com/cuisine-recettes/conseils-astuces/freegan-carte-nourriture-gratuite-en-ville-76384'>J'ai faim? Je sors, grâce à la carte interactive et collaborative Falling Fruit</a> by Lea Durupt</td></tr>

<!-- Terra Eco --><tr><td class='date'>June 13<br/><span class='year'>2014</span></td><td><a href='http://www.terraeco.net/'><b>Terra Eco</b></a><br/><a href='http://www.terraeco.net/Une-carte-collaborative-pour,55457.html'>Une carte collaborative pour récolter la nourriture de la rue</a> by Thibaut Schepman</td></tr>

<!-- Tree Hugger --><tr><td class='date'>June 12<br/><span class='year'>2014</span></td><td><a href='http://www.treehugger.com/'><b>Tree Hugger</b></a><br/><a href='http://www.treehugger.com/green-food/have-you-ever-tried-urban-foraging-interactive-online-map-can-help.html'>Do you forage for food? This interactive online map can help</a> by Katherine Martinko</td></tr>

<!-- KGNU --><tr><td class='date'>June 5<br/><span class='year'>2014</span></td><td><a href='http://www.kgnu.org/'><b>KGNU</b></a><br/><a href='http://www.kgnu.org/morningmag/5/16/2014'>Morning Magazine</a> by Hannah Leigh Myers</td></tr>

<!-- The Urbane Forager --><tr><td class='date'>June 4<br/><span class='year'>2014</span></td><td><a href='http://theurbaneforager.blogspot.co.uk/'><b>The Urbane Forager</b></a><br/><a href='http://theurbaneforager.blogspot.co.uk/2014/06/recently-i-have-been-working.html'>Falling Fruit - Mapping Monster</a> by Alan Gibson</td></tr>

<!-- Wasted Food --><tr><td class='date'>June 2<br/><span class='year'>2014</span></td><td><a href='http://www.wastedfood.com/'><b>Wasted Food</b></a><br/><a href='http://www.wastedfood.com/2014/06/02/falling-fruit-foraging-friend/'>Falling Fruit: Foraging Friend</a> by Jonathan Bloom</td></tr>

<!-- Cooking Stoned --><tr><td class='date'>May 28<br/><span class='year'>2014</span></td><td><a href='http://cookingstoned.tv/'><b>Cooking Stoned</b></a><br/><a href='http://cookingstoned.tv/blog/2014/05/fruits-veggies-can-forage-around-san-francisco/'>Fruits and Vegetables You Can Forage in San Francisco</a> by Jerry James Stone</td></tr>

<!-- Civil Eats --><tr><td class='date'>May 27<br/><span class='year'>2014</span></td><td><a href='http://civileats.com/'><b>Civil Eats</b></a><br/><a href='http://civileats.com/2014/05/27/online-map-helps-makes-wasted-food-visible/'>Online Map Helps Make Wasted Food Visible</a> by Lori Rotenberk</td></tr>

<!-- San Antonio Current --><tr><td class='date'>May 21<br/><span class='year'>2014</span></td><td><a href='http://sacurrent.com/'><b>San Antonio Current</b></a><br/><a href='http://sacurrent.com/dining/food/free-food-foraging-in-san-antonio-1.1689558'>Free Food: Foraging in San Antonio</a> by Joy-Marie Scott</td></tr>

<!-- The Courier Journal --><tr><td class='date'>May 20<br/><span class='year'>2014</span></td><td><a href='http://www.courier-journal.com/'><b>The Courier Journal</b></a><br/><a href='http://www.courier-journal.com/story/life/food/2014/05/20/louisville-woman-forages-food/9329017/'>Louisville woman forages her own food</a> by Jere Downs</td></tr>

<!-- Flavor 574 --><tr><td class='date'>May 8<br/><span class='year'>2014</span></td><td><a href='http://www.flavor574.com/'><b>Flavor 574</b></a><br/><a href='http://www.flavor574.com/Chatter/2014/05/08/Falling-Fruit-orgnanization-maps-where-you-can-find-free-fruit-growing-in-Michiana.html'>Falling Fruit organization maps where you can find free fruit growing in Michiana</a> by Krystal Vivian</td></tr>

<!-- GreenMeLocally --><tr><td class='date'>May 2<br/><span class='year'>2014</span></td><td><a href='http://greenmelocally.com/'><b>GreenMeLocally</b></a><br/><a href='http://greenmelocally.com/mobilize-urban-harvest-fruit%C2%ADmapping-enthusiasts-raise-funds-app/'>The App That Leads To Falling Fruit</a> by Lisa Custer</td></tr>

<!-- Gazeta Wyborcza --><tr><td class='date'>April 25<br/><span class='year'>2014</span></td><td><a href='http://wyborcza.pl/'><b>Gazeta Wyborcza</b></a><br/><a href='http://wyborcza.pl/magazyn/1,137926,15859659,Jedzenie__rosnie__na_miescie.html'>Jedzenie (rośnie) na mieście</a> by Małgorzata Minta</td></tr>

<!-- NationSwell --><tr><td class='date'>April 11<br/><span class='year'>2014</span></td><td><a href='http://www.nationswell.com/'><b>NationSwell</b></a><br/><a href='http://www.nationswell.com/garden-farm-problem-harvest-local-landscape/'>No Garden? No Farm? No Problem. Harvest Your Local Landscape</a> by Hilary Hylton</td></tr>

<!-- Xpress Magazine --><tr><td class='date'>April 3<br/><span class='year'>2014</span></td><td><a href='http://xpress.sfsu.edu/xpressmagazine/'><b>Xpress Magazine</b></a><br/><a href='http://xpress.sfsu.edu/xpressmagazine/2014/04/03/what-the-fuck-is-foraging/'>What the Fuck is Foraging?</a> by Nicole Dobarro</td></tr>

<!-- Fantastic Fungi --><tr><td class='date'>April 2<br/><span class='year'>2014</span></td><td><a href='http://fungifilm.com/'><b>Fantastic Fungi</b></a><br/><a href='http://fungifilm.com/2014/04/02/urban-foraging-maps-from-around-the-world/'>Urban foraging maps from around the world</a> by Scott James</td></tr>

<!-- The Jewish Week --><tr><td class='date'>April 1<br/><span class='year'>2014</span></td><td><a href='http://www.thejewishweek.com/'><b>The Jewish Week</b></a><br/><a href='http://www.thejewishweek.com/editorial-opinion/street-torah/falling-fruit-biblical-imperative-curb-food-waste'>Falling Fruit: The Biblical Imperative To Curb Food Waste</a> by Rabbi Shmuly Yanklowitz</td></tr>

<!-- The Raw Food Messenger --><tr><td class='date'>March 11<br/><span class='year'>2014</span></td><td><a href='http://therawfoodmessenger.com/'><b>The Raw Food Messenger</b></a><br/><a href='http://therawfoodmessenger.com/using-urban-fruit-harvesting-to-get-free-fruit/'>How To Get Free Fruit!</a> by Fabian Fortier</td></tr>

<!-- Yahoo! Shopping (via Kiplinger) --><tr><td class='date'>March 6<br/><span class='year'>2014</span></td><td><a href='http://shopping.yahoo.com'><b>Yahoo! Shopping</b></a> (via <a href='http://www.kiplinger.com/slideshow/saving/T063-S001-fabulous-freebies-2012-slide-show/'>Kiplinger</a>)<br/><a href='http://shopping.yahoo.com/news/fabulous-freebies-for-2014-221321887.html'>17 fabulous freebies for 2014</a> by Cameron Huddleston</td></tr>

<!-- Zero Gomi America --><tr><td class='date'>March 5<br/><span class='year'>2014</span></td><td><a href='http://zerogomiamerica.blogspot.no/'><b>Zero Gomi America</b></a><br/><a href='http://zerogomiamerica.blogspot.no/2014/03/blog-post_5.html'>街中で収穫出来る植物を教えてくれるサイト</a> by Chiharu</td></tr>

<!-- Very Short List --><tr><td class='date'>February 28<br/><span class='year'>2014</span></td><td><a href='http://www.veryshortlist.com/'><b>Very Short List</b></a><br/><a href='http://www.veryshortlist.com/food/daily.cfm/review/2569/Website/FarmersEverywhere/'>Here a Farmer, There a Farmer</a> by Karyn Campbell</td></tr>

<!-- Sustainablog --><tr><td class='date'>February 19<br/><span class='year'>2014</span></td><td><a href='http://sustainablog.org'><b>Sustainablog</b></a><br/><a href='http://sustainablog.org/2014/02/forage-the-urban-bounty-11-crowdsourced-maps-of-edible-plants/'>Forage the Urban Bounty: 11 Crowdsourced Maps of Edible Plants</a> by Jeff McIntire-Strasburg</td></tr>

<!-- Urban Farm Magazine --><tr><td class='date'>January 1<br/><span class='year'>2014</span></td><td><a href='http://urbanfarmonline.com'><b>Urban Farm Magazine</b></a><br/>Great Fruit Finds by Rachel Werner</br><img src="/press/urban_farm.png" alt="Great Fruit Finds" /></td></tr>

<!-- 2014 -->
<tr><td class='date'><b style="line-height:1em;">2014</b></td><td><hr style="width:100%;margin:0.5em 0 2em 0;"/></td></tr>

<!-- The Ecologist --><tr><td class='date'>November 1<br/><span class='year'>2013</span></td><td><a href='http://www.theecologist.org/'><b>The Ecologist</b></a><br/><a href='http://www.theecologist.org/green_green_living/2142102/falling_fruit_a_global_collaborative_foraging_map.html'>Falling Fruit: A global collaborative foraging map</a> by Ruth Stokes</td></tr>

<!-- Early to Rise --><tr><td class='date'>October 7<br/><span class='year'>2013</span></td><td><a href='http://www.earlytorise.com/'><b>Early to Rise</b></a><br/>Never Buy Fruit Again<br/><img src="/press/earlytorise.jpg" alt="Never Buy Fruit Again" /></td></tr>

<!-- Earth 911 --><tr><td class='date'>October 4<br/><span class='year'>2013</span></td><td><a href='http://earth911.com/'><b>Earth 911</b></a><br/><a href='http://earth911.com/food/want-free-fresh-fruit-find-it-online/'>Want Free Fresh Fruit? Find It Online!</a> by Paula Felps</td></tr>

<!-- KGNU --><tr><td class='date'>October 1<br/><span class='year'>2013</span></td><td><a href='http://www.kgnu.org/'><b>KGNU </b></a><br/><a href='http://www.kgnu.org/morningmag/10/1/2013'>Morning Magazine</a> by Maeve Conran</td></tr>

<!-- Eat Drink Better --><tr><td class='date'>September 29<br/><span class='year'>2013</span></td><td><a href='http://eatdrinkbetter.com/'><b>Eat Drink Better</b></a><br/><a href='http://eatdrinkbetter.com/2013/09/29/foraging-for-food/'>Foraging For Food Made Easy With This Crowdsourced Map</a> by Mary Gerush</td></tr>

<!-- Driftwood & Daydreams --><tr><td class='date'>September 24<br/><span class='year'>2013</span></td><td><a href='http://www.driftwoodanddaydreams.com/'><b>Driftwood & Daydreams</b></a><br/><a href='http://www.driftwoodanddaydreams.com/2013/09/a-wild-meal-denver.html'>A Wild Meal: Denver</a> by Aryn Charlotte</td></tr>

<!-- Eco Service Montreal --><tr><td class='date'>September 23<br/><span class='year'>2013</span></td><td><a href='http://esmontreal.ca'><b>Eco Service Montreal</b></a><br/><a href='http://esmontreal.ca/index.php/component/k2/item/39-how-i-became-an-urban-forager-on-the-streets-of-toronto'>How I Became An Urban Forager on the Streets of Toronto</a> by Marta Berbés-Blázquez</td></tr>

<!-- South Bend Tribune --><tr><td class='date'>September 22<br/><span class='year'>2013</span></td><td><a href='http://www.southbendtribune.com/'><b>South Bend Tribune</b></a><br/><a href='http://www.southbendtribune.com/news/local/article_72b7e07a-2372-11e3-bffd-0019bb30f31a.html#user-comment-area'>Local group connects city dwellers with free edibles</a> by Kim Kilbride</td></tr>

<!-- Food Network Magazine --><tr><td class='date'>September 1<br/><span class='year'>2013</span></td><td><a href='http://www.foodnetmag.com/'><b>Food Network Magazine</b></a><br/>Free Fall<br/><img src="/press/food_network.jpg" alt="Free Fall" /></td></tr>

<!-- AARP Bulletin -->
<tr><td class='date'>September 1<br/><span class='year'>2013</span></td><td><a href='http://www.aarp.org/bulletin/'><b>AARP Bulletin</b></a><br/><a href='http://pubs.aarp.org/aarpbulletin/201309/?pg=9&pm=1#pg9'>Good Eats</a> by Megan Lawson<br/><img src="/press/aarp_bulletin.jpg" alt="Good Eats" /></td></tr>

<!-- Natural Awakenings Magazine -->
<tr><td class='date'>September 1<br/><span class='year'>2013</span></td><td><a href='http://www.naturalawakeningsmag.com/'><b>Natural Awakenings Magazine</b></a><br/><a href='http://www.naturalawakeningsmag.com/Natural-Awakenings/September-2013/Freebie-Fruit/'>Freebie Fruit</a><br/><img src="/press/natural_awakenings.jpg" alt="Freebie Fruit" /></td></tr>

<!-- Wired Italy -->
<tr><td class='date'>August 27<br/><span class='year'>2013</span></td><td><a href='http://daily.wired.it/'><b>Wired Italy</b></a><br/><a href='http://daily.wired.it/news/internet/2013/08/27/big-data-cambieranno-la-vita-progetti-634738.html'>Big Data che ti cambieranno la vita</a> by Denis Rizzoli</td></tr>

<!-- Hindustan Times -->
<tr><td class='date'>August 13<br/><span class='year'>2013</span></td><td><a href='http://www.hindustantimes.com/'><b>Hindustan Times</b></a><br/><a href='http://www.hindustantimes.com/News-Feed/Lifestyle/Pick-some-fruit-while-it-pours/Article1-1109116.aspx'>Pick some fruit while it pours</a> by Sahil Magoo<br/><img src="/press/hindustan_times.jpg" alt="Pick some fruit while it pours" /></td></tr>

<!-- Mountain Magazine -->
<tr><td class='date'>August 7<br/><span class='year'>2013</span></td><td><a href='http://www.mountainonline.com'><b>Mountain Magazine</b></a><br/><a href='http://www.mountainonline.com/blog2/item/1225-hungry-hungry-hippies'>Hungry Hungry Hippies</a> by Frederick Reimers<br/><img src="/press/mountain_magazine.jpg" alt="Hungry Hungry Hippies" /></td></tr>

<!-- Ideas Lab -->
<tr><td class='date'>July 23<br/><span class='year'>2013</span></td><td><a href='http://www.ideaslaboratory.com/'><b>Ideas Lab</b></a><br/><a href='http://www.ideaslaboratory.com/2013/07/23/big-data-to-the-rescue/'>Big Data To The Rescue: Edible fruit finder</a> by Ideas Lab Staff</td></tr>

<!-- Mashable -->
<tr><td class='date'>July 17<br/><span class='year'>2013</span></td><td><a href='http://mashable.com/'><b>Mashable</b></a><br/><a href='http://mashable.com/2013/07/17/big-data-projects/'>5 Big Data Projects That Could Impact Your Life</a> by Eric Larson</td></tr>

<!-- The Stranger Slog -->
<tr><td class='date'>July 12<br/><span class='year'>2013</span></td><td><a href='http://slog.thestranger.com/slog/'><b>The Stranger Slog</b></a><br/><a href='http://slog.thestranger.com/slog/archives/2013/07/12/take-your-pick-of-the-fruits-around-town'>Take Your Pick of the Fruits Around Town?</a> by Madeline Reddington</td></tr>

<!-- If Liz Were Queen -->
<tr><td class='date'>July 9<br/><span class='year'>2013</span></td><td><a href='http://iflizwerequeen.com/'><b>If Liz Were Queen</b></a><br/><a href='http://iflizwerequeen.com/2013/07/09/falling-fruit-map-of-the-world-may-soon-be-available_q_19670.html'>Falling Fruit Map of the World May Soon Be Available.</a> by Liz Berry</td></tr>

<!-- Gapers Block -->
<tr><td class='date'>July 9<br/><span class='year'>2013</span></td><td><a href='http://gapersblock.com/'><b>Gapers Block</b></a><br/><a href='http://gapersblock.com/merge/archives/2013/07/09/low-hanging-fruit/'>Low-Hanging Fruit</a> by Cinnamon Cooper</td></tr>

<!-- Toronto Star -->
<tr><td class='date'>July 7<br/><span class='year'>2013</span></td><td><a href='http://www.thestar.com/'><b>The Toronto Star</b></a><br/><a href='http://www.thestar.com/news/gta/2013/07/07/crowd_sourcing_site_locates_urban_edibles_on_the_branch.html'>Crowd sourcing site locates urban edibles on the branch</a> by Jane Gerster</td></tr>

<!-- Irregular Times -->
<tr><td class='date'>July 3<br/><span class='year'>2013</span></td><td><a href='http://irregulartimes.com/'><b>Irregular Times</b></a><br/><a href='http://irregulartimes.com/2013/07/03/finding-free-food-at-falling-fruit/'>Finding Free Food At Falling Fruit</a> by Peregrin Wood</td></tr>

<!-- Animal New York -->
<tr><td class='date'>June 28<br/><span class='year'>2013</span></td><td><a href='http://animalnewyork.com'><b>Animal New York</b></a><br/><a href='http://animalnewyork.com/2013/all-the-edible-plants-in-new-york-mapped/'>All the Edible Plants in New York, Mapped</a> by Andy Cush</td></tr>

<!-- Brokelyn -->
<tr><td class='date'>June 28<br/><span class='year'>2013</span></td><td><a href='http://brokelyn.com/'><b>Brokelyn</b></a><br/><a href='http://brokelyn.com/shore-up-on-your-foraging-with-this-map-of-fruit-trees-around-you/'>Shore up on your foraging with this map of fruit trees around you</a> by David Colon</td></tr>
  
<!-- The Atlantic Cities -->
<tr><td class='date'>June 28<br/><span class='year'>2013</span></td><td><a href='http://www.theatlanticcities.com/'><b>The Atlantic Cities</b></a><br/><a href='http://www.theatlanticcities.com/neighborhoods/2013/06/hungry-heres-map-every-urban-plant-you-can-snack/6054/'>Hungry? Here's a Map of Every Urban Plant You Can Snack On</a> by Henry Grabar</td></tr>

<!-- Maps Maniac -->
<tr><td class='date'>June 25<br/><span class='year'>2013</span></td><td><a href='http://www.mapsmaniac.com/'><b>Maps Maniac</b></a><br/><a href='http://www.mapsmaniac.com/2013/06/fresh-produce-on-google-maps.html'>Fresh Produce on Google Maps</a> by Keir Clarke</td></tr>

<!-- Transition Charlottesville -->
<tr><td class='date'>June 21<br/><span class='year'>2013</span></td><td><a href='http://www.transitioncville.org/'><b>Transition Charlottesville</b></a><br/><a href='http://www.transitioncville.org/foraging-in-belmont/'>Foraging in Belmont</a> by Ann Marie Hohenberger </td></tr>

<!-- Lazy LowCal Lifestyle -->
<tr><td class='date'>June 18<br/><span class='year'>2013</span></td><td><a href='http://www.lazylowcallifestyle.com/'><b>Lazy LowCal Lifestyle</b></a><br/><a href='http://www.lazylowcallifestyle.com/2013/06/foraging-not-just-for-squirrels/'>Foraging – Not Just For Squirrels Anymore</a> by Becky Clark</td></tr>

<!-- One Hundred Dollars a Month -->
<tr><td class='date'>June 12<br/><span class='year'>2013</span></td><td><a href='http://www.onehundreddollarsamonth.com/'><b>One Hundred Dollars a Month</b></a><br/><a href='http://www.onehundreddollarsamonth.com/2013/06/foraging-for-free-food-where-to-find-the-good-stuff/#comment-269513'>Foraging for Free Food – Where to Find the Good Stuff</a> by Mavis Butterfield</td></tr>

<!-- Edible Knowledge -->
<tr><td class='date'>June 11<br/><span class='year'>2013</span></td><td><a href='http://edibleknowledgeisdelicious.blogspot.com/'><b>Edible Knowledge</b></a><br/><a href='http://edibleknowledgeisdelicious.blogspot.com/2013/06/go-wild-for-local-food-foraging.html'>Go Wild for Local Food Foraging!</a> by Rebecca Kon</td></tr>

<!-- Co.Exist -->
<tr><td class='date'>June 11<br/><span class='year'>2013</span></td><td><a href='http://www.fastcoexist.com/'><b>Co.Exist</b></a><br/><a href='http://www.fastcoexist.com/1682269/seattles-urban-food-forest-is-open-for-foraging'>Seattle’s Urban Food Forest Is Open For Foraging</a> by Ben Schiller</td></tr>

<!-- Care2 -->
<tr><td class='date'>June 2<br/><span class='year'>2013</span></td><td><a href='http://www.care2.com/'><b>Care2</b></a><br/><a href='http://www.care2.com/greenliving/foraging-goes-virtual.html'>Foraging Goes Virtual</a> by Jordyn Cormier</td></tr>

<!-- Boulder Lifestyle Magazine -->
<tr><td class='date'>June 1<br/><span class='year'>2013</span></td><td><a href='http://www.boulderlifestylepubs.com/'><b>Boulder Lifestyle Magazine</b></a><br/><a href='http://www.boulderlifestylepubs.com/boulder-lifestyle-june-2013/'>Local Scientists Map Urban Edibles</a><br/><img src="/press/boulder_lifestyle.jpg" alt="Local Scientists Map Urban Edibles" /></td></tr>

<!-- Oregonian -->
<tr><td class='date'>June 1<br/><span class='year'>2013</span></td><td><a href='http://www.oregonlive.com/'><b>Oregonian</b></a><br/><a href='http://www.oregonlive.com/living/index.ssf/2013/06/produce_website_maps_600000_sp.html'>Website maps 600,000 spots to pluck produce</a> by Donna Bryson / Associated Press<br/><img src="/press/oregonian.jpg" alt="Website maps 600,000 spots to pluck produce" /></td></tr>

<!-- Going Green Tampa -->
<tr><td class='date'>May 31<br/><span class='year'>2013</span></td><td><a href='http://www.goinggreentampa.com/'><b>Going Green Tampa</b></a><br/><a href='http://www.goinggreentampa.com/go-green/eating-green/item/381-mapping-your-way-to-fresh-food'>Mapping Your Way to Fresh Food</a> by Lisa Custer</td></tr>

<!-- True Food Movement -->
<tr><td class='date'>May 29<br/><span class='year'>2013</span></td><td><a href='http://truefoodmovement.com/'><b>True Food Movement</b></a><br/><a href='http://truefoodmovement.com/urban-foraging-let-a-map-guide-your-way'>Urban Foraging: Let a Map Guide Your Way</a> by Lisa Johnson</td></tr>

<!-- Radio 1190 -->
<tr><td class='date'>May 24<br/><span class='year'>2013</span></td><td><a href='http://www.radio1190.org'><b>Radio 1190</b></a><br/><a href='http://archive.org/details/ClimbtalkEthanWeltyAndAndyMcclure5242013'>Climb Talk</a> hosts Mike Brooks and Dave McAllister interview Ethan in the KVCU studios.<br/>
<iframe src="http://archive.org/embed/ClimbtalkEthanWeltyAndAndyMcclure5242013" width="500" height="30" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
</td></tr>

<!-- Boise Weekly -->
<tr><td class='date'>May 22<br/><span class='year'>2013</span></td><td><a href='http://www.boiseweekly.com/'><b>Boise Weekly</b></a><br/><a href='http://www.boiseweekly.com/boise/off-the-beaten-path-summer-alternatives-to-skip-the-crowds/Content?oid=2871260'>Off the Beaten Path: Summer Alternatives to Skip the Crowds </a> by Tara Morgan</td></tr>

<!-- Brown Paper Bag Delhi -->
<tr><td class='date'>May 20<br/><span class='year'>2013</span></td><td><a href='http://bpbweekend.com/delhi'><b>Brown Paper Bag Delhi</b></a><br/><a href='http://bpbweekend.com/delhi-food-and-drink/falling-fruit-make-like-a-tree-and-leaf'>Falling Fruit: Make Like A Tree And Leaf</a> by Meenakshi Reddy Madhavan</td></tr>

<!-- Fucking Homepage -->
<tr><td class='date'>May 18<br/><span class='year'>2013</span></td><td><a href='http://fuckinghomepage.com'><b>Fucking Homepage</b></a><br/><a href='http://fuckinghomepage.com/post/50712973786/may-18-2013'><img src="/press/fucking_homepage.jpg" alt="Mapping the urban fucking harvest" /></a></td></tr>

<!-- Associated Press -->
<tr><td class='date'>May 15<br/><span class='year'>2013</span></td><td><a href='http://www.ap.org/'><b>Associated Press</b></a><br/><a href='http://abcnews.go.com/Health/wireStory/found-fruit-online-map-gateway-edibles-19182961#.UZOplsp1Y7t'>Found fruit: Online map is gateway to edibles</a> by Donna Bryson<br/>
<span class="subtitle">Syndicated in newspapers worldwide (<a href="https://www.google.com/search?q=%22Found+Fruit:+Online+Map+Is+Gateway+to+Edibles%22+OR+%22Sharing+the+harvest:+New+online+map+identifies+fruit+free+for+the+picking%22+OR+(%22fallingfruit.org%22+AND+%22donna+bryson%22)&num=100&hl=en&noj=1&ei=tkShUZeGCabvygGu_4HYCg&start=0&sa=N&filter=0&biw=1436&bih=783">list</a>), including the <a href="http://www.denverpost.com/athome/ci_23270559/free-eats-across-globe-cu-student-maps-urban">Denver Post</a>, <a href="http://www.sfgate.com/living/article/Found-fruit-Online-map-is-gateway-to-edibles-4517788.php">San Francisco Chronicle</a>, <a href="http://www.washingtonpost.com/lifestyle/home/sharing-the-harvest-new-online-map-identifies-fruit-free-for-the-picking/2013/05/15/428e1f22-bd60-11e2-b537-ab47f0325f7c_story.html">Washington Post</a>, <a href="http://www.calgaryherald.com/life/food-restaurants/Sharing+harvest+online+identifies+fruit+free/8388068/story.html">Calgary Herald</a>, and <a href="http://www.etaiwannews.com/etn/news_content.php?id=2222400">Taiwan News</a>.</span></td></tr>

<!-- Times of Israel -->
<tr><td class='date'>May 14<br/><span class='year'>2013</span></td><td><a href='http://www.timesofisrael.com/'><b>Times of Israel</b></a><br/><a href='http://www.timesofisrael.com/waste-not-want-not-on-shavuot-with-falling-fruits/'>Gleaning just like Ruth would have done, if she’d had Google Maps</a> by Amanda Borschel-Dan<br/>
<span class="subtitle">Published to coincide with the Jewish holiday of Shavuot.</span>
</td></tr>

<!-- Womens Movement -->
<tr><td class='date'>May 8<br/><span class='year'>2013</span></td><td><a href='http://www.womensmovement.com/'><b>Womens Movement</b></a><br/><a href='http://www.womensmovement.com/eco-ideas-biodiesel-soap-foraging-map-and-more/'>Eco Ideas: Profitable Preserves, Foraging Maps, and More</a> by Clark Tate</td></tr>

<!-- PolicyMic -->
<tr><td class='date'>May 6<br/><span class='year'>2013</span></td><td><a href='http://policymic.com/'><b>PolicyMic</b></a><br/><a href='http://policymic.com/articles/39321/4-ways-to-make-food-more-sustainable-in-big-cities'>4 Ways to Make Food More Sustainable in Big Cities</a> by Blair Koch</td></tr>

<!-- Patch Network -->
<tr><td class='date'>April 28<br/><span class='year'>2013</span></td><td><a href='http://www.patch.com/'><b>Patch Network</b></a><br/><a href='http://bethesda-chevychase.patch.com/articles/free-fruit-in-bethesda-if-youre-willing-to-forage-for-it-f79992dc'>Free Fruit in Bethesda, if You're Willing to Forage for It</a> by Whitney Teal</td></tr>

<!-- Mother Nature Network -->
<tr><td class='date'>April 26<br/><span class='year'>2013</span></td><td><a href='http://www.mnn.com/'><b>Mother Nature Network</b></a><br/><a href='http://www.mnn.com/food/healthy-eating/blogs/forage-from-fruit-trees-in-your-city-with-the-help-of-this-map'>Forage from fruit trees in your city with the help of this map</a> by Kimi Harris</td></tr>

<!-- MSN Now -->
<tr><td class='date'>April 24<br/><span class='year'>2013</span></td><td><a href='http://now.msn.com/'><b>MSN Now</b></a><br/><a href='http://now.msn.com/falling-fruit-map-shows-free-food-in-cities'>Where can you forage in your city? Now there's a map.</a></td></tr>

<!-- Grist -->
<tr><td class='date'>April 24<br/><span class='year'>2013</span></td><td><a href='http://grist.org/'><b>Grist</b></a><br/><a href='http://grist.org/list/this-map-will-tell-you-where-to-forage-for-food-in-your-neighborhood/'>This map will tell you where to forage for food in your neighborhood</a> by Sarah Laskow</td></tr>

<!-- NPR's The Salt -->
<tr><td class='date'>April 23<br/><span class='year'>2013</span></td><td><a href='http://www.npr.org/blogs/thesalt/'><b>NPR's The Salt</b></a><br/><a href='http://www.npr.org/blogs/thesalt/2013/04/23/178603623/want-to-forage-in-your-city-theres-a-map-for-that'>Want to Forage in Your City? There's a Map for That</a> by Kristofor Husted<br/><span class="subtitle">Syndicated nationally by NPR affiliates (<a href="https://www.google.com/search?q=%22Want+To+Forage+In+Your+City%3F+There's+A+Map+For+That%22#q=%22Want+To+Forage+In+Your+City%3F+There%27s+A+Map+For+That%22&filter=0&bav=on.2,or.r_cp.r_qf.&bvm=bv.47008514,d.aWc&fp=780509453b859927&biw=2223&bih=1180">list</a>), including <a href="http://www.wnyc.org/npr_articles/2013/apr/23/want-to-forage-in-your-city-theres-a-map-for-that/">WNYC</a>, <a href="http://wwno.org/post/want-forage-your-city-theres-map">WWNO</a>, and <a href="http://www.opb.org/artsandlife/article/npr-want-to-forage-in-your-city-theres-a-map-for-that/">OPB</a>.</span></td></tr>

<!-- NewsTeamBoulder -->
<tr><td class='date'>April 4<br/><span class='year'>2013</span></td><td><a href='http://www.newsteamboulder.org/'><b>NewsTeamBoulder</b></a><br/><a href='http://www.youtube.com/watch?v=OQ9bFwpXr84'>FallingFruit.org</a> by Hannah Leigh Myers.<br/>
<iframe width="420" height="315" src="http://www.youtube.com/embed/OQ9bFwpXr84?rel=0" frameborder="0"></iframe></td>
</tr>

<!-- Falling Fruit launches -->
<tr><td class='date'>March 22<br/><span class='year'>2013</span></td><td><a href='https://docs.google.com/document/d/1SWtJrN9At5iQEIQY4vu3G2mHEGQDXz95hnMh45Inn0c/edit?usp=sharing'><b>FallingFruit.org launches !</b></a> (press release)</td></tr>

</table>