<p>
Foragers and private tree owners overwhelmed by their harvest are encouraged to donate their surplus produce to charity. The organizations listed below specialize in rescuing and distributing fresh produce. If you know of organizations that should be on this list, <a href="mailto:info@fallingfruit.org">contact us</a>! Produce can also be donated directly to the local organizations feeding the hungry in your community, from food banks (listed below) to homeless shelters, schools, and senior centers.
</p>

<h2>Food Rescue</h2>

<div class="country">
<b>United States</b><br>
<div class="datalist">  <!-- Start Multicolumn -->
	<ul>California
	 <li><a href="http://www.spiralgardens.org/">Community Harvest Project</a></li>
		<li><a href="http://foodforward.org/">Food Forward</a></li>
		<li><a href="https://www.soilborn.org/index.php?option=com_content&view=category&layout=blog&id=89&Itemid=84">Harvest Sacramento</a></li>
		<li><a href="http://fruitforfamiliessandiego.org/">Harvesting Opportunities Collaborative</a></li>
		<li><a href="http://northberkeleyharvest.org/">North Berkeley Harvest</a></li>
		<li><a href="http://www.thelemonlady.blogspot.com/">The Lemon Lady Foundation</a></li>
		<li><a href="http://www.fruitcruz.org/">The Santa Cruz Fruit Tree Project</a></li>
		<li><a href="http://www.peopleunited.org/uyh/about.php">Urban Youth Harvest</a></li>
		<li><a href="http://www.villageharvest.org/">Village Harvest</a></li>
		<li><a href="http://www.seniorgleaners.org/">Senior Gleaners</a></li>
	</ul>
	<ul>Colorado
		<li><a href="http://yardharvest.org/">Denver Yard Harvest</a></li>
		<li><a href="http://www.boulderfoodrescue.org/index.php/gah/">Garden Against Hunger</a></li>		
		<li><a href="https://www.facebook.com/produceforpantries">Produce for Pantries</a></li>
		<li><a href="http://www.urbiculturecommunityfarms.org/programs.html">Urbiculture Community Farms</a></li>
		<li><a href="http://foragedfeast.org/">Foraged Feast</a></li>
	</ul>
	<ul>Idaho
		<li><a href="http://www.backyardharvest.org/">Backyard Harvest</a></li>
	</ul>
	<ul>Kansas
		<li><a href="http://lawrencefruittreeproject.wordpress.com/">Lawrence Fruit Tree Project</a></li>
	</ul>
	</div><div class="datalist">  <!-- Column Break --> 	
	<ul>Kentucky
		<li><a href="https://www.facebook.com/compassionfruittrees">ComPassion Fruit Trees Louisville</a></li>
	</ul>
	<ul>Louisiana
		<li><a href="http://www.nolafruit.org/">New Orleans Fruit Tree Project</a></li>
	</ul>
	<ul>Maryland
		<li><a href="http://www.baltimoreorchard.org/">Baltimore Orchard Project</a></li>
	</ul>
	<ul>Massachussets
		<li><a href="http://bostonareagleaners.org/">Boston Area Gleaners</a></li>
		<li><a href="http://leagueofurbancanners.org/">League of Urban Canners</a></li>
	</ul>
	<ul>Montana</ul>
		<li><a href="http://greatbear.org/projects/#bearsandapples">Great Bear Foundation</a></li>
	</ul>
	<ul>Oregon
		<li><a href="http://portlandfruit.org/">Portland Fruit Tree Project</a></li>
    <li><a href="http://www.salemharvest.org">Salem Harvest</a></li>
	</ul>
	<ul>South Carolina
	  <li><a href="https://www.generousgarden.org">The Generous Garden Project</a></li>
  </ul>
	<ul>Washington
		<li><a href="http://www.cityfruit.org/">City Fruit</a></li>
		<li><a href="http://www.solid-ground.org/programs/nutrition/fruittree/pages/default.aspx">Community Fruit Tree Harvest</a></li>
	</ul>
</div>  <!-- Close Multicolumn -->
</div>  <!-- Close Country -->

<div class="country">
<b>Canada</b><br>
<div class="datalist">  <!-- Start Multicolumn -->
	<ul>Alberta</ul>
		<li><a href="http://operationfruitrescue.org/">Operation Fruit Rescue Edmonton</a></li>
		<li><a href="http://www.calgaryharvest.com/">The Calgary Urban Harvest Project</a></li>
	</ul>
 <ul>British Columbia
		<li><a href="http://earthmatters.ca/youth/harvest-rescue-project.html">Harvest Rescue Project</a></li>
		<li><a href="http://lifecyclesproject.ca/initiatives/fruit_tree/">Lifecycles Fruit Tree Project</a></li>
		<li><a href="http://www.richmondfoodsecurity.org/2012/surplus-fruit/">Richmond Food Security Society</a></li>
		<li><a href="http://scfruittree.org/">Sunshine Coast Fruit Tree Project</a></li>
		<li><a href="https://vancouverfruittree.com/">Vancouver Fruit Tree Project</a></li>
		<li><a href="http://www.northshorefruittreeproject.ca/">North Shore Fruit Tree Project</a></li>
		<li><a href="http://squamishcan.net/projects/current-projects/fruit-tree-project/">Squamish Fruit Tree Project</a></li>
		<li><a href="http://sookefoodchi.ca/events/2012-sooke-region-fruit-tree-project/">Sooke Region Fruit Tree Project</a></li>
		<li><a href="http://www.lushvalley.org/">Let Us Share The Harvest</a></li>
 </ul>
 <ul>Quebec
 	<li><a href="http://lesfruitsdefendus.wordpress.com/">Les Fruits D&eacute;fendus</a></li>
 	<li><a href="http://vergersdecheznous.wordpress.com/">Vergers de Chez Nous</a></li>
 </ul>
</div><div class="datalist">  <!-- Column Break -->  
 <ul>Manitoba
 	<li><a href="http://www.fruitshare.ca/">Fruit Share Manitoba</a></li>
 </ul>
 <ul>Ontario
		<li><a href="http://www.appleseedcollective.org/index.php?option=com_content&task=view&id=29&Itemid=42">Guelph Fruit Tree Project</a></li>
		<li><a href="http://www.oakvilleorganicmarket.com/Growing_-_Sharing/Halton_Fruit_Tree/halton_fruit_tree.html">Halton Fruit Tree Project</a></li>
		<li><a href="http://hamiltonfruittreeproject.blogspot.com/">Hamilton Fruit Tree Project</a></li>
		<li><a href="http://ottawa.hiddenharvest.ca/">Hidden Harvest Ottowa</a></li>
		<li><a href="http://www.notfarfromthetree.org/">Not Far From The Tree</a></li>
		<li><a href="http://www.thegardenofeating-niagara.com/">The Garden of Eating - Niagara</a></li>
		<li><a href="http://www.mississaugafruittree.org/">Mississauga Fruit Tree Organization</a></li>
		<li><a href="http://www.kwurbanharvester.org/contact-us">Kitchener-Waterloo Urban Harvester</a></li>
 </ul>
</div>  <!-- Close Multicolumn -->
</div>  <!-- Close Country -->

<div class="country">
<b>United Kingdom</b><br>
<div class="datalist">  <!-- Start Multicolumn -->
  <li><a href="http://www.organiclea.org.uk/what-we-do/we-sell-food/scrumping/">Organic Lea</a></li>
  <li><a href="http://www.abundancelondon.com/">Abundance London</a></li>
  <li><a href="http://thelondonorchardproject.org/">The London Orchard Project</a></li>
  <li><a href="http://sheffieldabundance.wordpress.com/">Sheffield Abundance</a></li>
  <li><a href="http://westealingabundancew13.wordpress.com/">West Ealing Abundance</a></li>
  <li><a href="http://abundancemanchester.wordpress.com">Abundance Manchester</a></li>
  <li><a href="http://www.leedsurbanharvest.org.uk/">Leeds Urban Harvest</a></li>
  <li><a href="http://abundanceoxford.wordpress.com/">Abundance Oxford</a></li>
  <li><a href="http://ttkensaltokilburn.ning.com/group/fruit?xg_source=activity">Kensal to Kilburn Fruit Harvesters</a></li>
  <li><a href="http://www.orchardcardiff.org.uk/">Orchard Cardiff</a></li>
</div>  <!-- Close Multicolumn -->
</div>  <!-- Close Country -->


<h2>Food Banks</h2>

<div class="datalist">  <!-- Start Multicolumn -->
  <li><a href="http://www.ampleharvest.org/find-pantry.php">Ample Harvest</a> - American food banks known to accept produce donations.</li>
  <li><a href="http://www.foodbankscanada.ca/utility-pages/find-a-food-bank.aspx">Food Banks Canada</a> - Food banks throughout Canada.</li>
  <li><a href="http://gfn.convio.net/site/PageServer?pagename=foodbanking_find">Global FoodBanking Network</a> - Food bank networks throughout the globe.</li>
</div>  <!-- Close Multicolumn -->