<p>
Foragers and private tree owners overwhelmed by their harvest are encouraged to donate their surplus produce to charity. The organizations listed below specialize in rescuing and distributing fresh produce. If you know of organizations that should be on this list, <a href="mailto:info@fallingfruit.org">contact us</a>! Produce can also be donated directly to the local organizations feeding the hungry in your community, from food banks to homeless shelters, schools, and senior centers.
</p>

<h2>Food Rescue</h2>

<p>
The <a href="http://www.endhunger.org/">Society of Saint Andrew</a>, a large gleaning organization with offices across the United States, has generously offered to help our American users pick and distribute food to charity. If you know of trees with an abundance of food on your own or public land, <a href="http://www.endhunger.org/volunteer.htm">let them know</a>.
</p>

<div class="country">
<b>United States</b><br>
<div class="datalist">  <!-- Start Multicolumn -->
  <ul>Arizona</ul>
    <li><a href="http://iskashitaa.blogspot.com/">Iskashitaa</a></li>
    <li><a href="http://www.firstfoodbank.org/">St. Mary's Food Bank Alliance</a></li>
  </ul>
	<ul>California
	 <li><a href="http://www.spiralgardens.org/">Community Harvest Project</a></li>
		<li><a href="http://foodforward.org/">Food Forward</a></li>
		<li><a href="https://www.soilborn.org/index.php?option=com_content&view=category&layout=blog&id=89&Itemid=84">Harvest Sacramento</a></li>
		<li><a href="http://fruitforfamiliessandiego.org/">Harvesting Opportunities Collaborative</a></li>
		<li><a href="http://northberkeleyharvest.org/">North Berkeley Harvest</a></li>
		<li><a href="http://www.thelemonlady.blogspot.com/">The Lemon Lady Foundation</a></li>
		<li><a href="http://www.fruitcruz.org/">The Santa Cruz Fruit Tree Project</a></li>
		<li><a href="http://www.peopleunited.org/uyh/about.php">Urban Youth Harvest</a></li>
		<li><a href="http://www.villageharvest.org/">Village Harvest</a></li>
		<li><a href="http://www.seniorgleaners.org/">Senior Gleaners</a></li>
		<li><a href="http://alamedabackyardgrowers.org/">Alameda Backyard Growers</a></li>
		<li><a href="http://www.theurbanfarmers.org/">The Urban Farmers</a></li>
		<li><a href="http://www.centerforhumanservices.org/harvesting-futures.html">Center for Human Services</a></li>
		<li><a href="http://www.theurbanfarmers.org/">The Urban Farmers</a></li>
		<li><a href="http://www.harvestcrops.org/">Harvest CROPS</a></li>
		<li><a href="http://www.foodbanksbc.org/programs/backyard-bounty/">Foodbank Santa Barbara County: Backyard Bounty</a></li>
		<li><a href="http://food-rescue.com/">Food Rescue</a></li>
    <li><a href="http://www.gleanslo.org/">Glean SLO</a></li>
    <li><a href="http://theharvestclub.org/">The Harvest Club</a></li>
	</ul>
	<ul>Colorado
		<li><a href="http://yardharvest.org/">Denver Yard Harvest</a></li>
		<li><a href="http://www.boulderfoodrescue.org/index.php/gah/">Garden Against Hunger</a></li>		
		<li><a href="https://www.facebook.com/produceforpantries">Produce for Pantries</a></li>
		<li><a href="http://www.urbiculturecommunityfarms.org/programs.html">Urbiculture Community Farms</a></li>
		<li><a href="http://foragedfeast.org/">Foraged Feast</a></li>
	</ul>
	<ul>Florida
	  <li><a href="http://www.transitionsrq.org/">Transition Sarasota</a></li>
	</ul>
	</div><div class="datalist">  <!-- Column Break --> 
	<ul>Georgia
	  <li><a href="http://www.concrete-jungle.org/">Concrete Jungle</a></li>
	</ul>
	<ul>Idaho
		<li><a href="http://www.backyardharvest.org/">Backyard Harvest</a></li>
	</ul>
	<ul>Indiana
	  <li><a href="http://www.indyhunger.org">Indy Hunger Network</a>'s <a href="http://www.volunteermatch.org/search/opp1481178.jsp">Glean Team</a></li>
	</ul>
	<ul>Kansas
		<li><a href="http://lawrencefruittreeproject.wordpress.com/">Lawrence Fruit Tree Project</a></li>
	</ul>
	<ul>Kentucky
		<li><a href="https://www.facebook.com/compassionfruittrees">ComPassion Fruit Trees Louisville</a></li>
		<li><a href="http://faithfeedslex.org/">Faith Feeds</a></li>
	</ul>
	<ul>Louisiana
		<li><a href="http://www.nolafruit.org/">New Orleans Fruit Tree Project</a></li>
	</ul>
	<ul>Maryland
		<li><a href="http://www.baltimoreorchard.org/">Baltimore Orchard Project</a></li>
	</ul>
	<ul>Massachussets
		<li><a href="http://bostonareagleaners.org/">Boston Area Gleaners</a></li>
		<li><a href="http://leagueofurbancanners.org/">League of Urban Canners</a></li>
	</ul>
	<ul>Montana</ul>
		<li><a href="http://greatbear.org/projects/#bearsandapples">Great Bear Foundation</a></li>
	</ul>
	<ul>Oregon
		<li><a href="http://portlandfruit.org/">Portland Fruit Tree Project</a></li>
    <li><a href="http://www.salemharvest.org">Salem Harvest</a></li>
    <li><a href="http://eugeneareagleaners.wordpress.com/">Eugene Area Gleaners</a></li>
    <li><a href="http://neighborhoodharvest.org/">Neighborhood Harvest</a></li>
	</ul>
	<ul>South Carolina
	  <li><a href="https://www.generousgarden.org">The Generous Garden Project</a></li>
  </ul>
	<ul>Washington
		<li><a href="http://www.cityfruit.org/">City Fruit</a></li>
		<li><a href="http://www.solid-ground.org/programs/nutrition/fruittree/pages/default.aspx">Community Fruit Tree Harvest</a></li>
	</ul>
</div>  <!-- Close Multicolumn -->
</div>  <!-- Close Country -->

<div class="country">
<b>Canada</b><br>
<div class="datalist">  <!-- Start Multicolumn -->
	<ul>Alberta</ul>
		<li><a href="http://operationfruitrescue.org/">Operation Fruit Rescue Edmonton</a></li>
		<li><a href="http://www.calgaryharvest.com/">The Calgary Urban Harvest Project</a></li>
	</ul>
 <ul>British Columbia
		<li><a href="http://earthmatters.ca/youth/harvest-rescue-project.html">Harvest Rescue Project</a></li>
		<li><a href="http://lifecyclesproject.ca/initiatives/fruit_tree/">Lifecycles (Victoria) Fruit Tree Project</a></li>
		<li><a href="http://www.richmondfoodsecurity.org/2012/surplus-fruit/">Richmond Food Security Society</a></li>
		<li><a href="http://scfruittree.org/">Sunshine Coast Fruit Tree Project</a></li>
		<li><a href="https://vancouverfruittree.com/">Vancouver Fruit Tree Project</a></li>
		<li><a href="http://www.northshorefruittreeproject.ca/">North Shore Fruit Tree Project</a></li>
		<li><a href="http://squamishcan.net/projects/current-projects/fruit-tree-project/">Squamish Fruit Tree Project</a></li>
		<li><a href="http://sookefoodchi.ca/events/2012-sooke-region-fruit-tree-project/">Sooke Region Fruit Tree Project</a></li>
		<li><a href="http://www.lushvalley.org/">Lush Valley Food Action Society</a></li>
		<li><a href="http://www.ediblegardenproject.com/what-we-do/sharing-backyard-bounty/">Edible Garden Project</a></li>
		<li><a href="https://www.facebook.com/PentictonFruitTreeProject">Penticton Fruit Tree Project</a></li>
		<li><a href="http://www.northshorefruittreeproject.ca/">North Shore Fruit Tree Project</a></li>
		<li><a href="http://www.okanagangleaners.ca/">Okanagan Gleaners</a></li>
		<li><a href="http://fvgleaners.org/">Fraser Valley Gleaners</a></li>
		<li><a href="http://www.okanaganfood.com/fruit-tree-project/">Central Okanagan Fruit Tree Project</a></li>
 </ul>
 <ul>Quebec
 	<li><a href="http://santropolroulant.org/what-we-do/urban-agriculture/les-fruits-defendus/">Les Fruits D&eacute;fendus</a></li>
 	<li><a href="http://vergersdecheznous.wordpress.com/">Vergers de Chez Nous</a></li>
 </ul>
</div><div class="datalist">  <!-- Column Break -->  
 <ul>Manitoba
 	<li><a href="http://www.fruitshare.ca/">Fruit Share Manitoba</a></li>
 	<li><a href="http://fruitsharebrandon.ca/">Fruit Share Brandon</a></li>
 </ul>
 <ul>Newfoundland &amp; Labrador
 	<li><a href="http://rootcellarsrock.ca/2011/08/st-johns-fruit-tree-project/">St. John’s Fruit Tree Project</a></li>
 </ul>
 <ul>Ontario
		<li><a href="http://www.appleseedcollective.org/index.php?option=com_content&task=view&id=29&Itemid=42">Guelph Fruit Tree Project</a></li>
		<li><a href="http://www.oakvilleorganicmarket.com/Growing_-_Sharing/Halton_Fruit_Tree/halton_fruit_tree.html">Halton Fruit Tree Project</a></li>
		<li><a href="http://hamiltonfruittreeproject.blogspot.com/">Hamilton Fruit Tree Project</a></li>
		<li><a href="http://ottawa.hiddenharvest.ca/">Hidden Harvest Ottowa</a></li>
		<li><a href="http://www.notfarfromthetree.org/">Not Far From The Tree</a></li>
		<li><a href="http://www.thegardenofeating-niagara.com/">The Garden of Eating - Niagara</a></li>
		<li><a href="http://www.mississaugafruittree.org/">Mississauga Fruit Tree Organization</a></li>
		<li><a href="http://www.kwurbanharvester.org/contact-us">Kitchener-Waterloo Urban Harvester</a></li>
 </ul>
</div>  <!-- Close Multicolumn -->
</div>  <!-- Close Country -->

<div class="country">
<b>United Kingdom</b><br>
<div class="datalist">  <!-- Start Multicolumn -->  
  <li><a href="http://www.feeding5k.org/gleaning.php">Gleaning Network UK</a></li>
  <li><a href="http://www.organiclea.org.uk/what-we-do/we-sell-food/scrumping/">Organic Lea</a></li>
  <li><a href="http://www.abundancelondon.com/">Abundance London</a></li>
  <li><a href="http://thelondonorchardproject.org/">The London Orchard Project</a></li>
  <li><a href="http://sheffieldabundance.wordpress.com/">Sheffield Abundance</a></li>
  <li><a href="http://westealingabundancew13.wordpress.com/">West Ealing Abundance</a></li>
  <li><a href="http://abundancemanchester.wordpress.com">Abundance Manchester</a></li>
  <li><a href="http://www.leedsurbanharvest.org.uk/">Leeds Urban Harvest</a></li>
  <li><a href="http://abundanceoxford.wordpress.com/">Abundance Oxford</a></li>
  <li><a href="http://ttkensaltokilburn.ning.com/group/fruit?xg_source=activity">Kensal to Kilburn Fruit Harvesters</a></li>
  <li><a href="http://www.orchardcardiff.org.uk/">Orchard Cardiff</a></li>
  <li><a href="http://abundancenottingham.wordpress.com/">Abundance Nottingham</a></li>
  <li><a href="http://transitionwb.blogspot.co.uk/2011/10/busy-time-for-abundance-west-bridgford.html">West Bridgford in Transition</a></li>
  <li><a href="https://www.facebook.com/groups/1414534008760426/">Abundance Sherwood</a></li>
</div>  <!-- Close Multicolumn -->
</div>  <!-- Close Country -->

<div class="country">
<b>France</b><br>
<div class="datalist">  <!-- Start Multicolumn -->
  <li><a href="http://www.lesfruitsduvoisin.org/">Les Fruits du Voisin</a></li>
</div>  <!-- Close Multicolumn -->
</div>  <!-- Close Country -->

<div class="country">
<b>Australia</b><br>
<div class="datalist">  <!-- Start Multicolumn -->
  <li><a href="http://www.cch.org.au/growing-abundance/">Growing Abundance</a></li>
</div>  <!-- Close Multicolumn -->
</div>  <!-- Close Country -->

<h2>Food Banks</h2>

<div class="datalist">  <!-- Start Multicolumn -->
  <li><a href="http://www.ampleharvest.org/find-pantry.php">Ample Harvest</a> - American food banks known to accept produce donations.</li>
  <li><a href="http://www.foodbankscanada.ca/utility-pages/find-a-food-bank.aspx">Food Banks Canada</a> - Food banks throughout Canada.</li>
  <li><a href="http://gfn.convio.net/site/PageServer?pagename=foodbanking_find">Global FoodBanking Network</a> - Food bank networks throughout the globe.</li>
</div>  <!-- Close Multicolumn -->