development:
  adapter: postgis
  database: ff_development
  username: postgres
  password:
  port: 5432
  host: localhost
  pool: 5
  timeout: 5000
  postgis_extension: true

production:
  adapter: postgis
  database: ff_production
  username: postgres
  password:
  port: 5432
  host: localhost
  pool: 5
  timeout: 5000
  postgis_extension: true
