/**********************************************************/
/****************** Base Formatting ***********************/
/**********************************************************/

html, body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 0.925em;
  color: #666;
  margin: 0;
  padding: 0;
  position: absolute; /* Enable z-index */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -999; /* Prevent from covering links in map */
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #0476D4;
}

a:hover {
  color: #E35809;
}

a, summary, input[type=submit], input[type=file], button {
  cursor: pointer;
}

h1 {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: normal;
  color: #EF6517;
}

h2 {
  margin-top: 1.25em;
  font-size: 1.5em;
  font-weight: normal;
  color: #EF6517;
}

.subtext {
  font-size: 0.75em;
  color: #888;
}

.announcement {
  font-style: italic;
  font-size: 115%;
}

.nowrap {
  display: inline-block;
}

#rightcontrols {
  float: right;
}

hr {
  border: none;
  border-bottom: 1px dotted #CCC;
  height: 1px;
  width: 70%;
  margin: 1.75em 0 1.25em 15%;
}

.first {
  margin-top: 0 ! important;
}

div#captcha {
  position: relative;  /* Widget has slight left margin */
  left: -2px;
}

summary {
  font-style: italic;
  padding: 0.3em 0.5em;
  border: 1px solid #DDD;
  border-radius: 1px;
  background-color: #F3F3F3;
  cursor: pointer;
}

/**********************************************************/
/******************** Template: Maps **********************/
/**********************************************************/

div#map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*** Map Controls ***/

div#maptype_button {
  background-color: #FFF;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.5);
  font-family: Roboto, Arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #565656;
  padding: 8px 8px;
  margin-top: 10px;
  z-index: 1;
}

div#maptype_button:hover {
  background-color: rgb(235,235,235);
  color: #000;
}

/*** Map Credits ***/

p#stamen_attribution {
  font-family: Roboto, Arial, san-serif;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right: 70px;
  background: #EEE;
  margin: 0;
  z-index: 100;
  opacity: 0.7;
}

p#stamen_attribution a {
  color: #666;
  text-decoration: underline;
}

/**********************************************************/
/********************** Infowindows ***********************/
/**********************************************************/

/* Fixes scrollbar issues */
.gm-style-iw {
  overflow: hidden !important;
}

/*** ADD NEW ***/

div#addmarker {
  font-size: 1.1em;
  width: 20em;
  height: 3.5em;
  padding: 0.2em 0.7em 0.7em 0.2em;
}

/*** LOCATION ***/

div#location_infowindow {
  min-width: 30em;
  color: #333;
  padding: 0 0 0.5em 0;
  overflow: auto;

  .ui-tabs-nav a {
    font-weight: 300;
  }

  .ui-tabs-panel a {
    text-decoration: none;
    border-bottom: 1px solid #DDD;
    color: #999;
  }

  .ui-tabs-panel a:hover {
    border-color: #999;
    color: #333;
  }
}

/*** Info Tab Only ***/

div#tab-1 {
  overflow: auto;
}

/* Types */

div#tab-1 div#type_list {
  margin-bottom: 0.4em;

  li {
    list-style: none;
    margin: 0 0 .2em 0; /* for appropriate "line height" if list longer than one line */
    display: inline-block;
    background-color: #EEE;
    padding: 0.1em 0.4em;
    font-size: 1.15em;
  }

  img.type_icon {
    height: 0.9em;
  }
}

/* Description */

div#tab-1 label {
  color: #000;
  font-size: 1.1em;
  padding-right: 0.2em;
  padding-left: 0.25em; /* to line up with start of type labels */
  line-height: 1.5em;
}

div#tab-1 span.observation_count {
  font-size: 0.8em;
}

div#tab-1 span.in_season {
  color: green;
}

div#tab-1 span.out_season {
  color: brown;
}

div#tab-1 div#description p {
  margin: 1.2em 1em;
  line-height: 1.5em;
  cursor: text; /* Google Maps defaults to pointer */
}

/* Controls & Author */

div#tab-1 table#footer {
  border-collapse: collapse;
  border-spacing: 0;
  /* for embed: overrides browser css */
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

div#tab-1 table#footer td#controls {
  vertical-align: bottom;
  white-space: nowrap;
}

div#tab-1 table#footer #controls a {
  margin-right: 0.75em;
}

div#tab-1 table#footer td#added_by {
  padding-left: 1em;
  border-left: 1px solid #666;
}

div#tab-1 table#footer a#add_review {
  border: 1px solid #DDD;
  padding: 0 0.4em;
  margin-right: 0.5em;
  color: #555;
}

div#tab-1 table#footer a#add_review:hover {
  color: #111;
}

/*** Reviews Tab ***/

div.observation {
  border-top: 1px solid #EEE;
  padding: 0.75em 0;

  a { /* 'x' visible to admins */
    border-bottom: none !important;
  }
}

.graft {
  background: rgb(182, 253, 183);
}

div.observation_text {
  padding: 0 1em 0 0.25em;
}

div.observation:last-of-type {
  padding-bottom: 0;
}

div.obsphoto {
  max-width: 100px;
  text-align: center;
  color: #555;
  text-align: center;
}

div.obsphoto img {
  max-height: 100px;
  max-width: 100px;
  margin: 0 auto;
  display: block;
  margin-bottom: 0.25em;
}

div.obsphoto_frame {
  background: #EEE;
  padding: 0.5em 0.5em 0.25em 0.5em;
  float: right;
  clear: right;
  width: 100px;
}

div#tab-2 label {
  color: #333;
  font-size: inherit;
}

/*** Street View Tab ***/


/**********************************************************/
/********************* Template: Tabs *********************/
/**********************************************************/

.ui-tabs,
.ui-tabs > div {
  border: 0 ! important;
  border-radius: 0px ! important;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}
.ui-tabs .ui-tabs-panel {
  padding: 0;
}
.ui-tabs .ui-tabs-nav {
  padding: 0 0 0 0.2em;
  line-height: 1.75em;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #CCC;
  background: transparent;
  margin-bottom: 0.5em;
}
.ui-tabs .ui-tabs-nav .ui-corner-top {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin-right: 0.35em;
}
.ui-tabs .ui-tabs-nav .ui-corner-top > a {
  padding: 0 0.5em;
}
.ui-tabs .ui-tabs-nav li:not(.ui-state-active) {
  background: transparent;
  border-color: transparent;
}
.ui-tabs .ui-tabs-nav .ui-state-active {
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-top: 1px solid #CCC;
}

/* Hiding by putting off screen rather than using display:none so that dimensions are still reported */
.ui-tabs .ui-tabs-hide { /* my_tabs-1 contains google map */
  display: block !important;
  position: absolute !important;
  left: -9999px !important;
  overflow: hidden ! important; /* To avoid measuring the scrollbars */
}

/**********************************************************/
/******************** Modal: Problem **********************/
/**********************************************************/

#problem_comment {
  width: 97%;
  height: 5em;
}

#problem_name,
#problem_email {
  width: 15em;
}

/**********************************************************/
/******************* Template: Forms **********************/
/**********************************************************/

form div.field {
  margin-top: 1em;
}

form label {
  line-height: 1.25em;
  padding-left: 0;  /* Needed to left-align */
}

form span.subtext {
  position: relative;  /* Keeps subtext away from text input edges. */
  top: -1px;
}

form span.subtext-inline {  /* Regular behavior, shorthand. */
  font-size: 0.75em;
  color: #888;
}

form input[type=text],
form input[type=password],
form input[type=email],
form textarea {
  font-family: inherit;
  color: inherit;
  font-size: 95%;
  border: 1px solid #ccc;
  padding: 2px 3px;
  margin: 0;
}

form select {
  font-family: inherit;
  color: inherit;
  font-size: 90%;
  border: 1px solid #ccc;
  margin: 0;
}

form input[type=submit],
form input[type=file],
button {
  font-family: inherit;
  font-size: inherit;
  color: #555;
  margin-left: 0;  /* Needed to left-align */
  padding: 0.3em 0.5em;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #F3F3F3;
  cursor: pointer;
}

form input[type=submit]:hover,
button:hover {
  background-color: #C6E1F7;
}

form input[type=checkbox] {
  border: 1px solid #CCC;
  margin-right: 0.1em;
  position: relative;
  top: -1px;
}

form input#user_password_confirmation,
form input#user_email_confirmation {
  display: block; /* forces to next line, robust to confirmation failure */
  margin-top: 0.25em;
}

form div.confirmation span,
form div.confirmation input[type=text],
form div.confirmation label {
  display: block;
}

form div.field_with_errors {
  display: inline; /* since label becomes div on error, avoids extra line breaks */
}


form div.field_with_errors label {
  color: #EF6517;
}

form div#error_explanation {
  margin-bottom: 1em;
}

form div#error_explanation h2,
form div#error_explanation strong {
  display: none;
}

form div#error_explanation li {
  color: #EF6517;
}

div.slider-legend {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 0.5em;
}

div.slider-legend > div {
  display: table-cell;
  width: 2%;
  margin-bottom: 0;
  font-size: 8pt;
}
div#slider{
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/**********************************************************/
/****************** Template: Select2 *********************/
/**********************************************************/

/* Clean borders */
.select2-choices,
.select2-container {
  outline: none ! important;
  background: none ! important;
}
.select2-drop {
  border-bottom: 1px solid #CCC ! important;
  border-left: 1px solid #CCC ! important;
  border-right: 1px solid #CCC ! important;
  box-shadow: none ! important;
}
.select2-drop-multi {
  border-top: 1px dotted #DDD ! important;
}
.select2-choices {
  border: 1px solid #CCC ! important;
  box-shadow: none ! important;
}

/* Reduce font-size */
.select2-container,
.select2-drop {
  font-size: 90%;
}

/* Background color of results on hover */
.select2-highlighted {
  background-color: #0476D4 ! important;
  background: #0476D4 ! important;
}

/* Multi-choice tokens */
.select2-search-choice {
  background-color: #EEE ! important;
  background: #EEE ! important;
}
.select2-search-choice-focus {
  background-color: #DDD ! important;
  background: #DDD ! important;
}
.select2-search-choice-close {
  opacity: 0.5 ! important;
}
.select2-container-multi .select2-search-choice-close {
  top: 3px ! important;
}

/* Border of search box in dropdown */
.select2-drop .select2-input {
  border: 1px solid #DDD ! important;
  box-shadow: none ! important;
  -webkit-box-shadow: none ! important;
  margin-top: 4px ! important;
  background: none ! important;
  font-family: inherit ! important;
}

/* Grey when no selection, white when selected */
[class='select2-choice select2-default'],
.select2-dropdown-open .select2-choice {
  background-color: #EEE ! important;
  background: #EEE ! important;
}
[class='select2-choice'] {
  background-color: #FFF ! important;
  background: #FFF ! important;
}
.select2-choice {
  border: 1px solid #CCC ! important;
  box-shadow: none ! important;
  -webkit-box-shadow: none ! important;
  color: inherit ! important;
  border-radius: 0px ! important;
}
.select2-arrow {
  border-left: none ! important;
  background-color: #EEE ! important;
  background: #EEE ! important;
  border-radius: 0px ! important;
}

/* Reduce left padding */
.select2-choice {
  padding-left: 6px ! important;
}
.select2-result-label {
  padding-left: 5px ! important;
}

/* Blue on hover */
.select2-container:not(.select2-container-disabled) {
  .select2-default:hover,
  .select2-default:hover .select2-arrow,
  .select2-arrow:hover {
    background-color: #C6E1F7 ! important;
  }
}

/* Alternate shading of results */
.select2-result:nth-of-type(even):not(.select2-highlighted) {
  background: #F9F9F9 ! important;
  background-color: #F9F9F9 ! important;
}

/* Invite handles to be handled */
.ui-slider-handle {
  cursor: pointer;
}

/* Nested display */
.select2-results-dept-0:not(.select2-highlighted) > .select2-result-label {
  background: #fff !important;
}
.select2-result-sub .select2-result-label {
  &:before {
    content: "⌊ ";
  }
  border-left: 3px solid #eee;
  border-right: 3px solid #eee;
}
.select2-result-with-children {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.select2-result-with-children:not(.select2-highlighted) > .select2-result-label {
  background: #eee !important;
}
.select2-result-with-children > .select2-result-label {
  font-weight: inherit !important;
}

/**********************************************************/
/****************** Template: Dialogs *********************/
/**********************************************************/

.ui-dialog {
  font-family: inherit;
  font-size: 95%;
  padding: 0;
  border-radius: 2px;
  border: 1px solid #CCC;
}

.ui-dialog .ui-dialog-titlebar {
  border-radius: 0;
  border: none;
  color: #666;
  background: #EEE;
}

.ui-dialog .ui-dialog-content {
  padding: 1em;
  color: #666;
  a {
    color: #0476D4;
  }
  a:hover {
    color: #E35809;
  }
}

.ui-dialog .ui-dialog-titlebar-close {
  background: rgba(0,0,0,0);
  opacity: 0.75;
}

.ui-dialog .ui-dialog-titlebar-close.ui-state-hover {
  border-color: rgba(0,0,0,0);
}

/*** Notice ***/

.dialog_yellow {
  border: 2px solid #ECECDC;
  top: -2px ! important;
}

.dialog_yellow .ui-dialog-titlebar {
  background: #F6F6A8;
  font-weight: normal;
}

.dialog_yellow .ui-dialog-titlebar-close {
  position: absolute;
  top: 1em;
}

.dialog_yellow .ui-dialog-content {
  display: none ! important;
}

/**********************************************************/
/***************** Template: Datepicker *******************/
/**********************************************************/

.ui-datepicker {
  z-index: 999 ! important;
  font-size: 90%;
}

.ui-datepicker-header {
  background: #EEE ! important;
  border-radius: 0 ! important;
}

.ui-datepicker-next-hover,
.ui-datepicker-prev-hover {
  border-color: rgba(0,0,0,0) ! important;
  background: rgba(0,0,0,0) ! important;
}

.ui-datepicker-calendar td a:not(.ui-state-highlight):not(.ui-state-hover):not(.ui-state-active) {
  background: #F9F9F9 ! important;
  border-color: #EEE ! important;
}

.ui-datepicker-calendar td a.ui-state-highlight {
  border-color: #AAA ! important;
  background: #F9F9F9 ! important;
}

.ui-datepicker-calendar td a.ui-state-hover,
.ui-datepicker-calendar td a.ui-state-active {
  border-color: #AAA ! important;
  background: #EEE ! important;
}

/**********************************************************/
/********************** Shadowbox *************************/
/**********************************************************/

/* Caption */

div#sb-title-inner {
  font-size: inherit;
  font-family: Roboto, Arial, sans-serif;;
}

/* Custom navigation controls */
/* (previous currently unused) */

#sb-custom-nav-next,
#sb-custom-nav-previous {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
}
#sb-custom-nav-next {
  width: 100%;
  right: 0;
}
#sb-custom-nav-previous {
  width: 0%;
  left: 0;
}
/*
#sb-custom-nav-next:hover {
  cursor: asset-url('/icons/arrow_right.cur'), default;
}
#sb-custom-nav-previous:hover {
  cursor: asset-url('/icons/arrow_left.cur'), default;
}
*/

/**********************************************************/
/******************* locations/embed **********************/
/**********************************************************/

div#embed_branding {
  display: block;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 15px;
  font-family: helvetica, arial, verdana, sans-serif;
  color: #FFF;
}

div#embed_branding a {
  color: #FFF;
  display: block;
  font-weight: bold;
  text-shadow: -1px -1px 3px rgba(51,51,51,0.5), 1px -1px 3px rgba(51,51,51,0.5), -1px 1px 3px rgba(51,51,51,0.5), 1px 1px 3px rgba(51,51,51,0.5);
}

div#embed_branding a:hover {
  text-shadow: -1px -1px 5px rgba(51,51,51,0.5), 1px -1px 5px rgba(51,51,51,0.5),-1px 1px 5px rgba(51,51,51,0.5),1px 1px 5px rgba(51,51,51,0.5);
}

div#embed_branding span {
  text-shadow: -1px -1px 3px rgba(51,51,51,0.5), 1px -1px 3px rgba(51,51,51,0.5), -1px 1px 3px rgba(51,51,51,0.5), 1px 1px 3px rgba(51,51,51,0.5);
  float: right;
  display: none;
}

div#embed_branding a#falling_fruit {
  font-size: 2em;
}

div#embed_branding a#add_source {
  font-size: 1em;
}

div#embed_branding .hr-like {
  width: 85%;
  height: 1px;
  background: white;
  display: block;
  margin: 0 0 0 0.25em;
  box-shadow: -1px -1px .1em rgba(51,51,51,0.2),1px -1px .1em rgba(51,51,51,0.2),-1px 1px .1em rgba(51,51,51,0.2),1px 1px .1em rgba(51,51,51,0.2);
}
