html{ 
  height: 100%; 
  margin: 0; padding: 0;
}

body{
  font-size: 11pt;
  font-family: 'Droid Sans', sans-serif;
  height: 100%;
  margin: 0; padding: 0;
}

img{margin:0;padding:0;border:none;}

div.InfoWindow{font-family:Arial;font-size:90%;}
div.InfoWindow div.Address{font-size:80%;font-style:italic;margin-bottom:.9em;}
div.InfoWindow div.Title{font-weight:bold;}

div#content{
  padding: 0.5em;
}

div#everything{
  width: 100%;
  height: auto;
  min-height: 100%;
}

a { color: #333333; }

div.field {
  margin-top: 1em;
}

table{
  width: 100%;
  margin: 0; padding: 0;
}

table tbody{
  font-size: 10pt;
}


.dataTables_wrapper{
  padding-top: 10px;
}

div.dataTables_wrapper input{
  padding: 0px;
}


th, td{
  padding: 5px;
}

table a{
  text-decoration: none;
}

table a:hover{
  text-decoration: underline;
}

thead{
  border-bottom: 2px solid #B5B5B5;
  font-size: 10pt;
  font-weight: bold;
}

table tr.even{
  background-color: #F0F0F0;
}

table tr.odd{
  background: #FFFFFF;
}

table tr.even td.sorting_1{
  background-color: #E0E0E0;
}

table tr.odd td.sorting_1{
  background: #EDEDED;
}

table tbody tr.odd td.special_col, table tbody tr.even td.special_col{
  background: #F57A7A;
}

span.subtext{
  font-size: 8pt;
  color: grey;
}

div#menu{
 padding: 0.5em;
 background: lightgrey;
 font-size: 10pt;
 font-weight: bold;
 color: #222222;
}

div#filter{
 border-top: 1px solid black;
 padding: 0.5em;
 background: lightblue;
 font-size: 10pt;
 font-weight: bold;
 color: #222222;
}

div#zoom{ 
  float: right; 
  font-size: 10pt; 
  font-weight: bold; 
  color: #222222; 
  padding: 0.5em; 
}

h1 {
  color: #555555;
  padding: 2px 0px;
  margin: 0;
  font: bold 200% arial, sans-serif;
  font-variant: small-caps;
}

h2 {
  color: #DB5432;
  padding: 2px 0px;
  margin: 0;
  font: bold 120% arial, sans-serif;
}

h3 {
  color: #444444
  padding: 2px 0px;
  margin: 0;
  font: 100% arial, sans-serif;
}

.notice {
  background: lightblue;
  padding: 0.2em;
  border: 1px solid grey;
}


.alert {
  background: orange;
  padding: 0.2em;
  border: 1px solid grey;
}


/* Button */
input[type=submit] {
        background-color: #4B8CF5;
        border-radius:3px;
        border:1px solid #3278F0;
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
}

input[type=submit]:hover {
        background-color: #3278E6;
}

input[type=submit]:active {
        position:relative;
        top:1px;
}

input[type=email],
input[type=password],
input[type=text]{
  padding: 4px;
}

