/*** Formatting ***/

html, body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 0.925em;
  color: #666;
  margin: 0;
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #0476D4;
}

a:hover {
  color: #E35809;
}

a, summary, input[type=submit], input[type=file] {
	cursor: pointer;
	cursor: hand;
}

h1 {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: normal;
  color: #EF6517;
}

h2 {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: normal;
  color: #EF6517;
}

.subtext {
  font-size: 0.75em;
  color: #888;
}

.announcement {
  font-style: italic;
  font-size: 115%;	
}

.nowrap {
		display: inline-block;
}

#rightcontrols {
  float: right;
}

div#map {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Mimics the styling of Google's own MapType controls*/

div#maptype_button {
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.25);
	cursor: pointer;
	text-align: center;
	width: 5em;
	box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.5);
  font-family: Roboto, Arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #565656;
  padding: 1px 6px;
  margin-top: 5px;
  z-index: 1;
}
div#maptype_button:hover {
	background-color: rgb(235,235,235);
	color: #000;	
}
  
div#content_container {
	position: absolute;
  top: 4.5em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

div#content {
  padding: 15px 1.5em 10px 1.5em;
  text-align: justify;
	max-width: 1400px;
  margin: 0 auto;  /* Page is centered on wider screen. */
}
  
div#content p {
  line-height: 1.5em;  /* For better legibility on wider screens */
}

div#footer {
  margin-top: 2.5em;
  text-align: center;
  font-size: 0.85em;
}

/*** Dialogs ***/

.ui-dialog {
	font-family: inherit;
	font-size: 95%;
	padding: 0;
	border-radius: 2px;
}

.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding-bottom: 0.75em;
}

.ui-dialog .ui-dialog-titlebar {
	border-radius: 0;
	border: none;
	color: #888;
}

.ui-dialog .ui-dialog-titlebar-close.ui-state-hover {
	border-color: #CCC;
}

.dialog_yellow {
	border: 2px solid #ECECDC;
	top: -2px ! important;*/
}	

.dialog_yellow .ui-dialog-titlebar {
	background: #F6F6A8;
	font-weight: normal;
}

.dialog_yellow .ui-dialog-titlebar-close {
  background: #F6F6A8;
  position: absolute;
  top: 1em;
}

.dialog_yellow .ui-dialog-titlebar-close:focus {
  outline: none ;
}

.dialog_yellow .ui-dialog-content {
	display: none ! important;
}

.dialog_grey {
	border: 2px solid #f0f0f0;
}	

.dialog_grey .ui-dialog-titlebar {
	background: #E9E9E9;
}

.dialog_grey .ui-dialog-titlebar-close {
  background: #eee;
}

.dialog_grey .ui-dialog-titlebar-close:focus {
  outline: none;
}

.dialog_grey .ui-dialog-content {
	background-color: #FCFCFC;
}


/*** Forms ***/

form div.field {
  margin-top: 1em;
}

form label {
  line-height: 1.25em;
  padding-left: 0;  /* Needed to left-align */
}

form span.subtext {
  position: relative;  /* Keeps subtext away from text input edges. */
  top: -1px;
}

form span.subtext-inline {  /* Regular behavior, shorthand. */
  font-size: 0.75em;
  color: #888;
}

form input[type=text], input[type=password], input[type=email], textarea {
	font-family: inherit;
	color: inherit;
	font-size: 95%;
	border: 1px solid #ccc;
	padding: 2px 3px;
	margin: 0;
}

form .select2-choices {
  border: 1px solid #ccc ! important;
  outline: none ! important;
  background: none ! important;
}

form .select2-choices .select2-search-choice {
  font-size: 95%;
}

form select {
	font-family: inherit;
	color: inherit;
	font-size: 90%;
	border: 1px solid #ccc;
	margin: 0;
}

form input[type=submit], input[type=file] {
	font-family: inherit;
	font-size: inherit;
	color: #555;
	margin-left: 0;	/* Needed to left-align */
	padding: 0.3em 0.5em;
  border: 1px solid #ccc;
	border-radius: 2px;
	background-color: #f3f3f3;
	cursor: pointer;
	cursor: hand;
}

form input[type=submit]:hover {
	background-color: #C6E1F7;
}

form input[type=checkbox] {
	border: 1px solid #CCC;
	margin-right: 0.1em;
	position: relative;
	top: -1px;
}

form input#user_password_confirmation {
	margin-top: 0.25em;
}

/*** HEADER ***/

/*** Logo ***/

div#logobar {
  background-color: #2C4D75;
  padding: 0 5px;
  height: 2.5em;
}

div#logobar a#falling_fruit {
  font-size: 2.2em;
  font-family: helvetica, arial, verdana, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  color: #FFF;
}

div#logobar span#subtitle {
	color: #FFF;
	font-style: italic;
	font-size: 1.25em;
	margin-left: 1em;
}

div#logobar img#logo {
  float: right;
  height: 100%;
}

div#share_controls {
  float: right;
  #width: 180px;  /* Width used to be required, but no more? */
  padding: 0.5em 0.3em 0 0;
}

/*** Menu ***/

div#menubar {
  background-color: #d3d3d3;
}

div#menubar a, div#menu span {
  color: #666;
  height: 100%; /* need to ensure edge reaches bottom of bar */
  line-height: 2em;
  padding: 0em 8px;
  display: inline-block;
}

div#menubar a#mobile_site {
		color: #2C4D75;
		font-weight: bold;
}

div#menubar a#mobile_site:hover {
		color: #E35809;
}
		
span#user_email {
  font-size: 0.85em;
  font-style: italic;
}

div#menu {
  overflow: auto;
}

div#menu ul li {
  float: left;
  cursor: hand;
  cursor: pointer;
}

div#menu a#maplink {
  padding-left: 12px;
}

div#menu ul li a.currentpage,div#menu ul li span.currentpage {
  background-color: #fff;
}

div#menu ul li a:hover:not(.currentpage) {
  color: #fff;
}

div#menu ul li:hover span:not(.currentpage) {
  color: #fff;
}

div#menu ul li ul {
  display: none;
  height: auto;
  position: absolute;
  z-index: 200;
}

div#menu ul li:hover ul {
  display: block;
  background: #eee;
}

div#menu ul li ul li {
  display: block;
  float: none;
}

div#menu ul li ul li a {
  border-top: 1px solid #fff;
  width: 15em;
  color: #888;
}

div#menu ul li ul li a.currentpage {
  background-color: #d3d3d3;
  color: #666;
}

div#menu ul li ul li:hover a:not(.currentpage) {
  color: #E35809;
}

div#rightcontrols a:not(.currentpage):hover{
	color: #fff;
}

div#rightcontrols a.currentpage {
	background-color: #fff;
}

/**********************************************************/
/******************* /locations/index *********************/
/**********************************************************/

/*** Searchbar ***/

div#searchbar {
	line-height: 3em;
	background-color: #FFF;
	border-bottom: 2px solid #CCC;
	width: 100%;
	vertical-align: middle;
}

div#searchbar div#searchcontrols {
  padding: 0 9px 0 15px;  /* Adding padding here keeps searchbar width at 100% */
}

div#searchbar button {
	border: 1px solid #DDD;
	border-radius: 4px;
	background-color: #EEE;
	font-size: 0.8em;
	font-family: inherit;
	cursor: pointer;
	cursor: hand;
	position: relative;  /* Fixes vertical alignment issue */
	top: -.1em;
	color: inherit;
}

div#searchbar button:hover {
	background-color: #C6E1F7;
}

div#searchbar input {
	border: 1px solid #DDD;
	padding: 2px 3px;
	font-family: inherit;
	color: inherit;
	font-size: .85em;
}

div#searchbar input[type=checkbox] {
  position: relative;  /* Fixes vertical alignment issue */
  top: -.1em;
}

/*** Map ***/

div#mainmap_container {
  position: absolute;
  top: 7.5em;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;  /* So that if search bar controls wrap, they display above map. */
	line-height: normal ! important;
}

/**********************************************************/
/******************* /locations/{edit,new} ****************/
/**********************************************************/

/*** Form ***/

form#editsource {
  padding: 20px 1.5em 10px 1.5em;
  width: 28em;
  position: absolute;
  top: 4.5em;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  line-height: 1em;
}

form#editsource label {
	font-weight: bold;
	color: #333;
}

form#editsource a {
  font-size: 0.85em;
}

form#editsource #s2id_typeselect2, #location_description, #location_author, #location_address {
  width: 90%;
}

form#editsource #location_lat, #location_lng {
  width: 9.5em;
}

form#editsource #location_description {
  height: 10em;
}

form#editsource #location_address {
  height: 3em;
}

form#editsource input#location_lat {
  text-align: right;
}

form#editsource div#captcha {
  position: relative;  /* Widget has slight left margin */
  left: -2px;
}

form#editsource input[type=submit] {
  display: inline-block;
  padding: 0.5em 1em;
  margin-right: 10px;
}

/*** Map ***/

div#editmap_container {
  position: absolute;
  top: 61px;
  bottom: 0;
  left: 31em;
  right: 0;
  border-left: 2px solid #DDD;
}

/**********************************************************/
/****************** Maps, /locations/infowindow ***********/
/**********************************************************/

/* Override Google's default Roboto?
div#newmarker, div#editmarker, div#location_infowindow {
	font-family: verdana, arial, helvetica, sans-serif;
}
*/

div#newmarker, div#editmarker, div#location_infowindow {
	line-height: normal ! important;	/* Helps avoid scrollbars when using padding. */
}

div#newmarker {
  font-size: 1.25em;
}

div#editmarker {
	font-size: 1em;
  width: 18em;
  padding: 0.5em;
}

p#stamen_attribution {
	font-family: Roboto, Arial, san-serif;
	font-size: 10px;
	position: absolute;
	bottom: 0;
	right: 70px;
	background: #eee;
	margin: 0;
	z-index: 100;
	opacity: 0.7;
}

p#stamen_attribution a {
	color: #666;
	text-decoration: underline;
}

/*** InfoWindow ***/

div#location_infowindow {
  max-width: 35em;
  color: #333;
  overflow: auto;
  padding: 0.5em 0.3em;
}

div#location_infowindow a {
  color: #333;
  text-decoration: underline;
}

/* Types */

div#type_list {
	margin-bottom: 0.4em;
}

div#type_list li {
  list-style: none;
  margin: 0 0 .2em 0; /* for appropriate "line height" if list longer than one line */
  display: inline-block;
  background-color: #EEE;
  padding: 0.1em 0.4em;
  font-size: 1.15em;
}

div#type_list img.type_icon {
  height: 0.9em;
}

/* Description */

div#location_infowindow label {
  color: #000;
  font-size: 1.1em;
  padding-right: 0.2em;
  padding-left: 0.25em; /* to line up with start of type labels */
  line-height: 1.5em;
}

span.in_season {
  color: green;
}

span.out_season {
  color: brown;
}

div#description p {
  margin: 1.2em 1em;
  line-height: 1.5em;
  cursor: text; /* Google Maps defaults to hand */
}

/* Controls & Author */

table#footer {
	border-collapse: collapse;
	border-spacing: 0;
}

table#footer td#controls {
	vertical-align: bottom;
	white-space: nowrap;
	padding-left: 0.25em;  /* to line up with start of type labels */
}

table#footer a {
	color: #999;
}

table#footer #controls a {
	padding-right: 1em;
}

table#footer a:hover {
	color: #333;
}

table#footer td#added_by {
	padding-left: 1em;
	border-left: 1px solid #DDD;
}

/**********************************************************/
/******************* /pages/about *************************/
/**********************************************************/

div.rightphoto {
	float: right;
	position: relative;
	top: 1em;  /* Make images flush with top of text */
	margin: 0 0 1.5em 1.5em;  /* To keep text away while wrapping */
	text-align: right;  /* In case image dimensions are not as expected */
	line-height: 0;  /* Fixes unresolved white space bug */
	width: 412px;  /* Multiple of image width + 2 * border + a little */
}

div.rightphoto img {
  width: 200px;
  border: none;
}

div#content img {
	 border: 1px solid #EEE;
}

/*** Data List ***/

/* OPTIONAL - Put all countries on same line. */

div.country_column {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}

div.country_column div.country {
	display: block;
}

div.country {
	display: inline-block;
}

div.country b {
	line-height: 3em;
}

div.datalist {
  margin-left: 25px;
  padding: 0px 5px;
  border-left: 1px solid #EEE;
  display: inline-block;
  vertical-align: top;
}

div.datalist ul {
  margin-left: 3px;
}

div.datalist ul li {
  margin-left: 10px;
}

div.datalist li {
  margin-left: 13px;
}

/*** Profiles ***/

div.profile {
  margin-top: 1.5em;
}

div.profile:after {  /* Clears float instead of a div inside html */
  content: ".";
  display: block;
  height: 0;
  clear: left;
  visibility: hidden;
}

img.avatar {
	float: left;
	width: 200px;
}

div.bio {
	margin-left: 216px;
}

/**********************************************************/
/******************* /pages/data **************************/
/**********************************************************/

table#type_summary img.link_icon {
  height: 1em;
  border: none;
}

/**********************************************************/
/******************* /pages/press *************************/
/**********************************************************/

#press_list td {
  vertical-align: top;
  padding-bottom: 1em;
}

#press_list td.date {
	text-align: right;
	padding-right: 2em;
}

#press_list td.date span.year {
	color: #bbb;
}

#press_list span.subtitle {
	font-size: 90%;
	display: block;
	padding: 1em 0 0.5em 1em;
}

#press_list iframe,
#press_list img {
	margin: 1em 0 0.5em 0;
}