/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require common
 *= require select2
 *= require dataTables/jquery.dataTables 
 *= require jquery.mobile
 */

div#mobile-header{
  background: darkblue;
  width: 100%;
}
div#mobile-header h1 a, div#mobile-header h1{
  color: white;
  font-weight: bold;
}
div#mobile-warnings{}

div#mobile-controls{
  position: absolute;
  top: 49px;
  left: 0;
  right: 55%;
  bottom: 0;
  padding-right: 0.5em;
}
div#mobile-map-container{
  position: absolute;
  bottom: 0;
  left: 45%;
  right: 0;
  top: 49px; 
}

div#mobile-top-map{
  width: 100%;
  height: 20em;
}

div#mobile-form{}
