/**********************************************************/
/************************* Header *************************/
/**********************************************************/

$logobarHeight: 38px;
$menubarHeight: 27px;
$searchbarHeight: 43px;
$searchbarBorder: 2px;

/*** Logo ***/

div#logobar {
  background-color: #1F5F92;
  position: absolute;
  top: 0;
  width: 100%;
  height: $logobarHeight;
}

div#logobar a#falling_fruit {
  font-size: 2.2em;
  font-family: 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  font-weight: bold;
  color: #FFF;
  margin-left: 9px;
  letter-spacing: 1px;
}

div#logobar span#subtitle {
  color: #FFF;
  font-style: italic;
  font-size: 1.25em;
}

div#share_controls {
  float: right;
  margin-top: $logobarHeight * 0.1;
  img {
    height: $logobarHeight * 0.8;
  }
}

div#locale {
  float: right;
  display: inline;
  margin: ($logobarHeight * 0.1) 5px;
  height: $logobarHeight * 0.8;
}

div#locale select {
  border: none;
  font-size: inherit;
  height: 100%;
}

/*** Menu ***/

div#menubar {
  background-color: #D3D3D3;
  position: absolute;
  top: $logobarHeight;
  height: $menubarHeight;
  width: 100%; 
  a, span {
    color: #666;
    line-height: $menubarHeight;
    padding: 0 8px;
    display: inline-block;
  }
}

div#menu {
  overflow: auto;
  a#maplink {
    padding-left: 12px;
  }
}

div#menu ul li {
  float: left;
  a {
   cursor: pointer;
  }
  .currentpage {
    background-color: #FFF;
  }
  a:hover:not(.currentpage),
  &:hover span:not(.currentpage) {
    color: #FFF;
  }
  ul {
    display: none;
    height: auto;
    position: absolute;
    z-index: 200;
    li {
      display: block;
      float: none;
      a {
        border-top: 1px solid #FFF;
        width: 15em;
        color: #888;
        &.currentpage {
          background-color: #D3D3D3;
          color: #666;
        }
      }
      &:hover a:not(.currentpage) {
        color: #E35809;
      }
    }
  }
  &:hover ul {
    display: block;
    background: #EEE;
  }
}

div#rightcontrols {
  a:not(.currentpage):hover {
    color: #FFF;
  }
  a.currentpage {
    background-color: #FFF;
  }
  span#user_email {
      font-size: 0.85em;
      font-style: italic;
  }
}

/**********************************************************/
/************************ Content *************************/
/**********************************************************/

div#content_container {
  position: absolute;
  top: $logobarHeight + $menubarHeight;
  bottom: 0;
  width: 100%;
  div#content {
    padding: 15px 15px 10px 15px;
    text-align: justify;
    max-width: 1400px;
    margin: 0 auto;
    p {
      line-height: 1.5em;
    }
  }
  div#footer {
    margin-top: 2.5em;
    text-align: center;
    font-size: 85%;
  }
}

/**********************************************************/
/******************* /locations/index *********************/
/**********************************************************/

/*** Searchbar ***/

div#searchbar {
  position: absolute;
  top: $logobarHeight + $menubarHeight;
  min-height: $searchbarHeight;
  width: 100%;
  line-height: $searchbarHeight;
  background-color: #FFF;
  border-bottom: $searchbarBorder solid #CCC;
  b {
    font-size: 95%;
  }
  div#searchcontrols {
    padding: 0 9px 0 11px;
  }
  input, button {
    border: 1px solid #DDD;
    font-family: inherit;
    color: inherit;
  }
  button {
    border-radius: 4px;
    background-color: #EEE;
    font-size: 80%;
    cursor: pointer;
    padding: 3px;
    &:hover {
      background-color: #C6E1F7;
    }
  }
  input {
    padding: 2px 3px;
    font-size: 90%;
    /* FIXME: Find platform-independent vertical alignment fix */
    &[type=checkbox] {
      position: relative;
      top: -.1em;
    }
  }
}

/* Mainmap type filter */

#s2id_type_filter {
  width: 20em;
  font-size: 95% ! important;
  .select2-choice {
    line-height: 1.5em ! important;
    height: 1.5em ! important;
    border: 1px solid #DDD ! important;
  }
  .select2-arrow b {
    background: image-url("/assets/select2.png") no-repeat 0 -2px ! important;
  }
  .select2-search-choice-close {
    top: 4px ! important;
  }
}

/*** Map ***/

$headerHeight: $logobarHeight + $menubarHeight + $searchbarHeight + $searchbarBorder;
$sidebarWidth: 293px;
$sidebarBorder: 2px;

div#mainmap_container {
  position: absolute;
  top: $headerHeight;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;  /* So that if search bar controls wrap, they display above map. */
}

div#sidebar_container {
  position: absolute;
  top: $headerHeight;
  bottom: 0;
  left: 0;
  width: $sidebarWidth;
  z-index: -2;
  padding: 2px 0 0 5px;
  background: #EEE;
  border-right: $sidebarBorder solid #CCC;
}

div#sidebar{
    background: #FFF;
    height: 100%;
    font-size: 12px;
    overflow: auto;
    display: none;
    > ul {
      background: #EEE ! important;
      padding: 0;
      border-bottom: 1px solid transparent;
      li {
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
        border-radius: 0px;
        a {
          padding-right: 5px;
          padding-left: 5px;
          padding-top: 0px;
          padding-bottom: 0px;
          cursor: pointer;
          span {
            font-size: inherit;
          }
        }
      }
      li#close-arrow {
        float: right;
      }
      li.ui-tabs-selected {
        background: #FFF;
      }
      a.sidebar_arrow:hover span {
        color: #000 ! important;
      }
    }
    > div {
      padding: 1em 0.5em 0.5em 0.5em;
      color: #666;
      a {
        color: #999;
        text-decoration: underline;
      }
      a:hover {
        color: #333;
      }
      blockquote {
        margin-left: 1em;
        margin-right: 1em;
        padding-left: 1em;
        border-left: 1px solid #EEE;
      }
      div.favorite,
      div.route {
        margin: 1em 0 0 1em;
      }
    }
  }
  
div#sidebar_button{
  position: absolute;
  top: $headerHeight + 1px;
  left: 0px;
  font-size: 10px;
  font-weight: bold;
  background: #FFF;
  border: 1px solid #DDD;
  display: none;
  a {
    color: #A0A0A0;
    padding: 5px;
    display: block;
    &:hover {
    color: #666;
    }
  }
}

/**********************************************************/
/******************* /locations/{edit,new} ****************/
/**********************************************************/

$editformWidth: 383px;
$editformPadding: 20px;
$editformBorder: 2px;
$editformTotalWidth: $editformWidth + 2 * $editformPadding + $editformBorder;

/*** Form ***/

form#editsource {
  padding: 20px $editformPadding 10px $editformPadding;
  width: 383px;
  position: absolute;
  top: $logobarHeight + $menubarHeight;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  line-height: 1em;
  border-right: $editformBorder solid #DDD;
}

form#editsource label {
  font-weight: bold;
  color: #333;
}

form#editsource > div > a {
  font-size: 0.85em;
}

form#editsource #location_description, 
form#editsource #location_author, 
form#editsource #location_address {
  width: 98%;
}

form#editsource #s2id_typeselect2,
form#editsource #s2id_location_access {
  width: 99%;
}

form#editsource #location_lat, 
form#editsource #location_lng {
  width: 10.25em;
}

form#editsource #s2id_location_season_start,
form#editsource #s2id_location_season_stop {
  width: 8em;
}

form#editsource input#location_lat {
  text-align: right;
}

form#editsource #location_address {
  height: 3em;
}

form#editsource #location_description {
  height: 10em;
}

form#editsource input[type=submit] {
  padding: 0.5em 1em;
  margin-right: 10px;
}

/*** Map ***/

div#editmap_container {
  position: absolute;
  top: $logobarHeight + $menubarHeight;
  bottom: 0;
  left: $editformTotalWidth;
  right: 0;
}

/*** Edit Marker ***/

div#editmarker {
  width: 18em;
  height: 6em;
  padding: 0.4em 0.4em 0.9em 0.4em;
}

/**********************************************************/
/******************* /observations/new ********************/
/**********************************************************/

#observation_photo {
  width: 93%;
}

#observation_photo_caption,
#observation_comment {
  width: 95%;
}

/**********************************************************/
/******************* /pages/about *************************/
/**********************************************************/

div.rightphoto {
  float: right;
  position: relative;
  top: 1em;  /* Make images flush with top of text */
  margin: 0 0 1.5em 1.5em;  /* To keep text away while wrapping */
  text-align: right;  /* In case image dimensions are not as expected */
  line-height: 0;  /* Removes vertical space between image rows */
  width: 412px;  /* Multiple of image width + 2 * border + a little */
}

div.rightphoto img {
  border: 1px solid #EEE;
}

div.profile {
  img.avatar {
    float: left;
    border: 1px solid #EEE;
  }
  /* Clears float instead of a div inside html */
  &:after {
  content: ".";
  display: block;
  height: 0;
  clear: left;
  visibility: hidden;
  }
}

div.big-bios {
  div.profile {
    img.avatar {
      width: 200px;
    }
    div.bio {
      margin-left: 216px;
    }
  }
}

div.small-bios {
  div.profile {
    img.avatar {
      width: 100px;
    }
    div.bio {
      margin-left: 116px;
    }
  }
}

/**********************************************************/
/********* /pages/{inventories,maps,sharing} **************/
/**********************************************************/

div#countries {
  font-size: inherit;
  color: #666;
  
  > ul li {
    font-size: 120%;
    font-variant: small-caps;
  }
}

div#countries > div {
  
  /* f'ing jquery! */
  @import "base.css.scss";
  @extend body;
  color: #666; 
  margin: 1em .75em .5em .75em;

  > ul {
    margin-left: 5px;
    margin-bottom: 1em;
  }
  
  b {
    display: inline-block;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
  
  li {
    margin-left: 3px;
  }
  
  ul {
    font-weight: bold;
    ul,li {
      font-weight: normal;
    }
  }
  
  ul li {
    margin-left: 9px;
  }
  
  ul ul {
    margin-left: 9px;
    /*font-style: italic;*/
    li {
      margin-left: 15px;
      /*font-style: normal;*/
    }
  }

  li.inactive {
    /*opacity: 0.5;*/
    text-decoration: line-through;
  }
  
  img.social {
    height: 1em;
    opacity: 0.75;
    vertical-align: top;
    border-top: 2px solid transparent;
  }
  
  a:hover img.social {
    border-top: 2px solid #E35809;
  }
}


/**********************************************************/
/******************* /pages/press *************************/
/**********************************************************/

#press_list td {
  vertical-align: top;
  padding-bottom: 1em;
}

#press_list td.date {
  text-align: right;
  padding-right: 2em;
  white-space: nowrap;
}

#press_list td.date span.year {
  color: #bbb;
}

#press_list span.subtitle {
  font-size: 90%;
  display: block;
  padding: 1em 0 0.5em 1em;
}

#press_list img {
  border: 1px solid #EEE;
}

#press_list iframe,
#press_list img {
  margin: 1em 0 0.5em 0;
}

/**********************************************************/
/******************* /pages/data **************************/
/**********************************************************/

table#type_summary img.link_icon {
  height: 1em;
}

/**********************************************************/
/****************** /routes/show **************************/
/**********************************************************/

#directions_panel {
  position: absolute;
  top: 8em;
  left: 0;
  bottom: 0;
  width: 310px;
  padding: 1em 5px 5px 5px;
}

#directions {
  overflow: auto;
  position: absolute;
  bottom: 0;
  top: 3em;
  width: 300px;
  ol {
    list-style-type: decimal;
    li{
      display: list-item;
      list-style-type: decimal;
      margin-bottom: 1em;
    }
  }
}

#travel_mode {
  position: absolute;
  top: 1em;
  height: 2em;
}

/**********************************************************/
/****************** /users/* ******************************/
/**********************************************************/


div#range_tabs {
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ddd ! important;
  
  div#map {
    width: 100%;
    height: 400px;
  }
}

/**********************************************************/
/****************** /problems/* ******************************/
/**********************************************************/

.full_width {
  width: 100%;
}