/**********************************************************/
/************************* Header *************************/
/**********************************************************/

$logobarHeight: 2.75em;
$menubarHeight: 2em;
$searchbarHeight: 3em;
$searchbarBorder: 0.15em;

/*** Logo ***/

div#logobar {
  background-color: #1F5F92;
  padding: 0 5px;
  height: $logobarHeight;
}

div#logobar a#falling_fruit {
  font-size: 2.2em;
  font-family: 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  font-weight: bold;
  color: #FFF;
  margin-left: 4px;
  letter-spacing: 1px;
}

div#logobar span#subtitle {
  color: #FFF;
  font-style: italic;
  font-size: 1.25em;
}

div#logobar img#logo {
  float: right;
  height: 100%;
}

div#share_controls {
  float: right;
  margin: 0.3em 0 0 0;
}

div#share_controls img {
  height: 2.15em;
}

/*** Menu ***/

div#menubar {
  background-color: #D3D3D3;
}

div#menubar a, 
div#menu span {
  color: #666;
  line-height: $menubarHeight;
  padding: 0em 8px;
  display: inline-block;
}

div#menu {
  overflow: auto;
}

div#menu a#maplink {
  padding-left: 12px;
}

div#menu ul li {
  float: left;
  cursor: pointer;
}

div#menu ul li a.currentpage, 
div#menu ul li span.currentpage {
  background-color: #FFF;
}

div#menu ul li a:hover:not(.currentpage) {
  color: #FFF;
}

div#menu ul li:hover span:not(.currentpage) {
  color: #FFF;
}

div#menu ul li ul {
  display: none;
  height: auto;
  position: absolute;
  z-index: 200;
}

div#menu ul li:hover ul {
  display: block;
  background: #EEE;
}

div#menu ul li ul li {
  display: block;
  float: none;
}

div#menu ul li ul li a {
  border-top: 1px solid #FFF;
  width: 15em;
  color: #888;
}

div#menu ul li ul li a.currentpage {
  background-color: #D3D3D3;
  color: #666;
}

div#menu ul li ul li:hover a:not(.currentpage) {
  color: #E35809;
}

div#rightcontrols a:not(.currentpage):hover {
  color: #FFF;
}

div#rightcontrols a.currentpage {
  background-color: #FFF;
}

div#rightcontrols span#user_email {
  font-size: 0.85em;
  font-style: italic;
}

/**********************************************************/
/************************ Content *************************/
/**********************************************************/

div#content_container {
  position: absolute;
  top: 4.75em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

div#content_container div#content {
  padding: 15px 1.5em 10px 1.5em;
  text-align: justify;
  max-width: 1400px;
  margin: 0 auto;  /* Page is centered on wider screens */
}
  
div#content_container div#content p {
  line-height: 1.5em;  /* For better legibility on wider screens */
}

div#content_container div#footer {
  margin-top: 2.5em;
  text-align: center;
  font-size: 0.85em;
}

/**********************************************************/
/******************* /locations/index *********************/
/**********************************************************/

/*** Searchbar ***/

div#searchbar {
  line-height: $searchbarHeight;
  background-color: #FFF;
  border-bottom: $searchbarBorder solid #CCC;
  width: 100%;
}

div#searchbar b {
  font-size: 95%;
}

div#searchbar div#searchcontrols {
  padding: 0 9px 0 11px;  /* Adding padding here keeps searchbar width at 100% */
}

div#searchbar button {
  border: 1px solid #DDD;
  border-radius: 4px;
  background-color: #EEE;
  font-size: 0.8em;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  padding: 3px;
}

div#searchbar button:hover {
  background-color: #C6E1F7;
}

div#searchbar input {
  border: 1px solid #DDD;
  padding: 2px 3px;
  font-size: .9em;
  font-family: inherit;
  color: inherit;
}

div#searchbar input[type=checkbox] {
  position: relative;  /* Fixes vertical alignment issue */
  top: -.1em;
}

/* Mainmap type filter */
#s2id_type_filter {
  width: 20em;
  font-size: 95% ! important;
}
#s2id_type_filter .select2-choice {
  line-height: 1.5em ! important;
  height: 1.5em ! important;
  border: 1px solid #DDD ! important;
}
#s2id_type_filter .select2-arrow b {
  background: image-url("/assets/select2.png") no-repeat 0 -2px ! important;
}
#s2id_type_filter .select2-search-choice-close {
  top: 4px ! important;
}

/*** Map ***/

$headerHeight: $logobarHeight + $menubarHeight + $searchbarHeight + $searchbarBorder;

div#mainmap_container {
  position: absolute;
  top: $headerHeight;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;  /* So that if search bar controls wrap, they display above map. */
}

div#sidebar_container {
  position: absolute;
  top: $headerHeight;
  bottom: 0;
  left: 0;
  width: 293px;
  z-index: -2;
  padding: 2px 0 0 5px;
  background: #EEE;
  border-right: 2px solid #CCC;
}

div#sidebar{
    background: #FFF;
    height: 100%;
    font-size: 12px;
    overflow: auto;
    display: none;
    > ul{
      background: #EEE ! important;
      padding: 0;
      border-bottom: 1px solid transparent;
      li{
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
        border-radius: 0px;
        a{
          padding-right: 5px;
          padding-left: 5px;
          padding-top: 0px;
          padding-bottom: 0px;
          cursor: pointer;
          span{
            font-size: inherit;
          }
        }
      }
      li#close-arrow {
        float: right;
      }
      li.ui-tabs-selected {
        background: #FFF;
      }
      a.sidebar_arrow:hover span {
        color: #000 ! important;
      }
    }
    > div {
      padding: 1em 0.5em 0.5em 0.5em;
      color: #666;
      a {
        color: #999;
        text-decoration: underline;
      }
      a:hover {
        color: #333;
      }
      blockquote{
        margin-left: 1em;
        margin-right: 1em;
        padding-left: 1em;
        border-left: 1px solid #EEE;
      }
      div.favorite,
      div.route {
        margin: 1em 0 0 1em;
      }
    }
  }
  
div#sidebar_button{
  position: absolute;
  left: 0px;
  font-size: 10px;
  font-weight: bold;
  background: #FFF;
  border: 1px solid #DDD;
  display: none;
  a{
    color: #A0A0A0;
    padding: 5px;
    display: block;
  }
  a:hover{
    color: #666;
  }
}

/**********************************************************/
/******************* /locations/{edit,new} ****************/
/**********************************************************/

/*** Form ***/

form#editsource {
  padding: 20px 1.5em 10px 1.5em;
  width: 28em;
  position: absolute;
  top: 4.75em;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  line-height: 1em;
  border-right: 2px solid #DDD;
}

form#editsource label {
  font-weight: bold;
  color: #333;
}

form#editsource > div > a {
  font-size: 0.85em;
}

form#editsource #location_description, 
form#editsource #location_author, 
form#editsource #location_address {
  width: 98%;
}

form#editsource #s2id_typeselect2,
form#editsource #s2id_location_access {
  width: 99%;
}

form#editsource #location_lat, 
form#editsource #location_lng {
  width: 10.25em;
}

form#editsource #s2id_location_season_start,
form#editsource #s2id_location_season_stop {
  width: 8em;
}

form#editsource input#location_lat {
  text-align: right;
}

form#editsource #location_address {
  height: 3em;
}

form#editsource #location_description {
  height: 10em;
}

form#editsource input[type=submit] {
  padding: 0.5em 1em;
  margin-right: 10px;
}

/*** Map ***/

div#editmap_container {
  position: absolute;
  top: 4.75em;
  bottom: 0;
  left: 31em;
  right: 0;
}

/*** Edit Marker ***/

div#editmarker {
  width: 20em;
  height: 6.5em;
  padding: 0.4em 0.4em 0.9em 0.4em;
}

/**********************************************************/
/******************* /observations/new ********************/
/**********************************************************/

#observation_photo {
  width: 93%;
}

#observation_photo_caption,
#observation_comment {
  width: 95%;
}

/**********************************************************/
/******************* /pages/about *************************/
/**********************************************************/

div.rightphoto {
  float: right;
  position: relative;
  top: 1em;  /* Make images flush with top of text */
  margin: 0 0 1.5em 1.5em;  /* To keep text away while wrapping */
  text-align: right;  /* In case image dimensions are not as expected */
  line-height: 0;  /* Removes vertical space between image rows */
  width: 412px;  /* Multiple of image width + 2 * border + a little */
}

div.rightphoto img {
  border: 1px solid #EEE;
}

div.profile img.avatar {
  float: left;
  width: 200px;
  border: 1px solid #EEE;
}

div.profile div.bio {
  margin-left: 216px;
}

/* Clears float instead of a div inside html */
div.profile:after {
  content: ".";
  display: block;
  height: 0;
  clear: left;
  visibility: hidden;
}

/**********************************************************/
/********* /pages/{inventories,maps,sharing} **************/
/**********************************************************/

div.country_column {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

div.country_column div.country {
  display: block;
}

div.country {
  display: inline-block;
}

div.country b {
  line-height: 3em;
}

div.datalist {
  margin-left: 25px;
  padding: 0px 5px;
  border-left: 1px solid #EEE;
  display: inline-block;
  vertical-align: top;
}

div.datalist ul {
  margin-left: 3px;
}

div.datalist ul li {
  margin-left: 10px;
}

div.datalist li {
  margin-left: 13px;
}

/**********************************************************/
/******************* /pages/press *************************/
/**********************************************************/

#press_list td {
  vertical-align: top;
  padding-bottom: 1em;
}

#press_list td.date {
  text-align: right;
  padding-right: 2em;
}

#press_list td.date span.year {
  color: #bbb;
}

#press_list span.subtitle {
  font-size: 90%;
  display: block;
  padding: 1em 0 0.5em 1em;
}

#press_list img {
  border: 1px solid #EEE;
}

#press_list iframe,
#press_list img {
  margin: 1em 0 0.5em 0;
}

/**********************************************************/
/******************* /pages/data **************************/
/**********************************************************/

table#type_summary img.link_icon {
  height: 1em;
}

/**********************************************************/
/****************** /routes/show **************************/
/**********************************************************/

#directions_panel {
  position: absolute;
  top: 8em;
  left: 0;
  bottom: 0;
  width: 310px;
  padding: 1em 5px 5px 5px;
}



#directions {
  overflow: auto;
  position: absolute;
  bottom: 0;
  top: 3em;
  width: 300px;
  ol {
    list-style-type: decimal;
    li{
      display: list-item;
      list-style-type: decimal;
      margin-bottom: 1em;
    }
  }
}

#travel_mode {
  position: absolute;
  top: 1em;
  height: 2em;
}
