<p>Welcome to Falling Fruit!</p>

<p>Before you sign in again you will need to confirm your account email (<%= @resource.email %>) through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Falling Fruit is a user-powered website, so if you have something to add or improve, please do.</p>

<p>Happy foraging!</p>

<p>
--<br>
Caleb &amp; Ethan | FallingFruit.org
</p>