<div class="type">
<%= pf.fields_for :locations_types, lt, :index => "new_42" do |f2| %>
 <%= f2.select(:type_id,Type.order("name").collect{ |t| [t.name,t.id] },:include_blank => true) %>, or
 <%= f2.text_field :type_other %><br>
 <%= link_to_function "- Remove Last", "$(this).up('.type').remove()" %><br>
<% end %>
</div>
