<div id="searchbar">
 <div id="searchcontrols">
  
  <span class="nowrap" id="rightcontrols">
   <a href="/" id="permalink" onclick="update_url('#permalink'); return false;">Permalink</a> | 
   <a href="#" id="embedlink" onclick="show_embed_html('#embed'); return false;">Embed</a>
   <div id="embed" style="display:none;" title="Embeddable iFrame HTML"></div>
  </span>
  
  <span class="nowrap">  
   <b>Location</b>
   <input id="address" name="address" value="Zoom to address" onkeypress="if(event.keyCode == 13){ recenter_map_to_address(); }" onclick="this.value = '';" size="30">
    <button onclick="recenter_map_to_address();">Go</button>
    <span id="recenter_button">
    or <button onclick="recenter_map()">Zoom to Me</button>
    </span>
    &middot; 
    <span class="nowrap">
     <%= select_tag "type_filter", options_for_select([[nil,nil]] + Type.order(:name).collect{ |t| [t.name,t.id] }) %>
     &middot;
    </span>
  </span>
  
   <span id="hidden_controls" style="display:none;">
     <span class="nowrap">
      <b>Labels</b>
      <input type="checkbox" id="labels" value="1" onclick="if(!this.checked){ delabelize_markers() }else{ labelize_markers(); } update_permalink();" <%= "checked" if (!@perma.nil? and !@perma[:labels].nil? and @perma[:labels]) %>> 
      &middot;
     </span>
   </span>

   <span class="nowrap">
     <b>Municipal</b> 
     <input type="checkbox" id="muni" value="1" onclick="clear_markers();update_display(true);" <%= "checked" unless (!@perma.nil? and !@perma[:muni].nil? and !@perma[:muni]) or (!@location.nil? and !@location.import.nil? and !@location.import.muni)%>>
   </span>
   
   <span id="export_data" style="display: none;">
    &middot;
    <span class="nowrap">
     <a href="#" id="get_data_link">Export Data</a>
    </span>
   </span>
  
 </div>
</div>

<% content_for :form_scripts do %>
<script type="text/javascript">
jQuery(document).ready(function(){
  jQuery('#type_filter').select2({
    placeholder: "Filter by type",
    allowClear: true,
    width: "15em"
  });
  jQuery('#type_filter').on("change",function(){
    type_filter = jQuery("#type_filter").val();
    if(type_filter == "") type_filter = undefined;
    clear_markers();
    update_display(true);
    update_permalink();
  });
});
</script>
<% end %>
