<%= render 'form' %>

<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
// There are three scenarios here:
// 1) We are given a lat/lng in the post params (user clicked on the map to add something).
//    Which we'll know because @location will be a new object with lat/lng set and 
//    the location_lat and location_lng fields will have stuff in them.
// 2) We aren't given a lat/lng in the post params, but we're able to use the geolocation
//    library to guess the user's position. We'll know this because location_lat and location_lng
//    will be empty and geolocation will succeed.
// 3) We aren't given a lat/lng and geolocation fails. In this case marker will be left set to null,
//    and nothing should be placed on the map until the user enters an address or lat/lng
var marker = null;
geocoder = new google.maps.Geocoder();
Gmaps.map.callback = function() {
  var len = Gmaps.map.markers.length;
  var marker = null;
  if($('location_lat').value == "" && $('location_lng').value == ""){
    navigator.geolocation.getCurrentPosition(function(position){
      // Case #2
      var lat = position.coords.latitude;
      var lon = position.coords.longitude;
      $('location_lat').value = lat;
      $('location_lng').value = lon;
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(lat,lon), 
        map: Gmaps.map.serviceObject,
        draggable: true,
        icon: ''
      });
      var nag = new google.maps.InfoWindow({
        content: '<div style="text-align: center;font-size: 10pt;"><strong>Please adjust the marker to<br>the position of ' +
                 'the source.</strong><br><br><em>Pro tip: Check the satellite view - your<br>tree might be visible from space!</em></span>'
      });
      nag.open(Gmaps.map.serviceObject,marker);  
      google.maps.event.addListener(marker, 'dragend', function() {
        $("location_lat").value = this.getPosition().lat();
        $("location_lng").value = this.getPosition().lng();
      });
      Gmaps.map.serviceObject.panTo(marker.getPosition());
      Gmaps.map.serviceObject.setZoom(14);      
    },function(error){
      //use error.code to determine what went wrong
    });
    var watchID = navigator.geolocation.watchPosition(function(position) {
      var lat = position.coords.latitude;
      var lon = position.coords.longitude;
      $('location_lat').value = lat;
      $('location_lng').value = lon;
      marker.setPosition(new google.maps.LatLng(lat,lon));
    },function(error){
      //...
    },{enableHighAccuracy:true, maximumAge:30000, timeout:30000});
  }else{
    // Case #1
    marker = Gmaps.map.markers[len-1].serviceObject;
    var nag = new google.maps.InfoWindow({
      content: '<div style="text-align: center;font-size: 10pt;"><strong>Please adjust the marker to<br>the position of ' +
               'the source.</strong><br><br><em>Pro tip: Check the satellite view - your<br>tree might be visible from space!</em></span>'
    });
    nag.open(Gmaps.map.serviceObject,marker);  
    marker.setDraggable(true);
    marker.setIcon("");
    google.maps.event.addListener(marker, 'dragend', function() {
      $("location_lat").value = this.getPosition().lat();
      $("location_lng").value = this.getPosition().lng();
    });
  }
  if(marker != null){
    // after all else is done, do this (async loading means this has to happen very last)
    google.maps.event.addListener(Gmaps.map.serviceObject,'idle',function doit(){  
      Gmaps.map.serviceObject.setZoom(15);
      Gmaps.map.serviceObject.panTo(marker.getPosition());
      google.maps.clearListeners(Gmaps.map.serviceObject,'idle');
    });
  }
};
function update_marker(){
  if($("location_address").value == "") return;
  geocoder.geocode( { 'address': $("location_address").value }, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      Gmaps.map.serviceObject.panTo(results[0].geometry.location);
      Gmaps.map.serviceObject.setZoom(15);
      var lat = results[0].geometry.location.lat();
      var lng = results[0].geometry.location.lng();
      $("location_lat").value = lat;
      $("location_lng").value = lng;
      marker = new google.maps.Marker({
        icon: '',
        position: new google.maps.LatLng(lat,lng), 
        map: Gmaps.map.serviceObject,
        draggable: true,
      });
      var nag = new google.maps.InfoWindow({
        content: '<div style="text-align: center;font-size: 10pt;"><strong>Please adjust the marker to<br>the position of ' +
                 'the source.</strong><br><br><em>Pro tip: Check the satellite view - your<br>tree might be visible from space!</em></span>'
      });
      nag.open(Gmaps.map.serviceObject,marker);  
      google.maps.event.addListener(marker, 'dragend', function() {
        $("location_lat").value = this.getPosition().lat();
        $("location_lng").value = this.getPosition().lng();
      });
    } else {
      alert("Geocode was not successful for the following reason: " + status);
    }
  });
}
</script>
<% end %>
